<div class="row" ui-view ng-controller="CompaniesCtrl">
	<div class="col-md-12">
		<div class="panel">
			<div class="org-controlers">
				<div class="left-side">
					<h3>Firmaer</h3>
					<div class="org-controlers-search">
						<i class="fa fa-search"></i>
						<input placeholder="Søg på firma navn" class="" ng-model="search.$" />
					</div>
				</div>
				<div class="right-side">
					<a ui-sref="app.saleforce1.companies" class="btn btn-half btn-transparent">Ekporter forbrug</a>
					<a ui-sref="app.saleforce1.companies.new" class="btn btn-half btn-blue">Opret Firma</a>
				</div>
			</div>

			<table id="company-list" class="table dataTable" cellspacing="0" width="100%">
				<colgroup>
					<col width="2%"></col>
					<col width="10%"></col>
					<col width="40.5%"></col>
					
					
					<col width="10%"></col>
					<col width="10%"></col>
					
					
					<col width="5%"></col>
					<col width="5%"></col>
					<col width="5%"></col>
					
					
					<col width="5%"></col>
					<col width="5%"></col>
					
					<col width="2.5%"></col>
				</colgroup>
			
				<thead>
					<tr>
						<th colspan="2">Logo</th>
						<th>URL</th>
						<th>Oprettet siden</th>
						<th>Brugere (Aktive)</th>
						<th>Antal moduler</th>
						<th>Købte kurser</th>
						<th>Forbrug (GB)</th>
						<th>Betaling (md)</th>
						<th>Betaling (årligt)</th>
						<th></th>
					</tr>
				</thead>
			
				<tfoot>
					<tr>
						<th colspan="2">Logo</th>
						<th>URL</th>
						<th>Oprettet siden</th>
						<th>Brugere (Aktive)</th>
						<th>Antal moduler</th>
						<th>Købte kurser</th>
						<th>Forbrug (GB)</th>
						<th>Betaling (md)</th>
						<th>Betaling (årligt)</th>
						<th></th>
					</tr>
				</tfoot>
			
				<tbody>

					<tr ng-repeat="company in companies | filter:search">
						<td class="company-color"><div style="background-color: #{{company.color}};"></div></td>
						<td class="company-logo">
							<!--<a ng-href="#/app/saleforce1/companies/edit-{{company.id}}" style="background-image:  url('http://www.cityvejle.dk/files/billeder/Forsideslideshow/Slideshow%202/Telia_logo.png');">-->
							<a ng-href="#/app/saleforce1/companies/edit-{{company.id}}" style="background-image:  url('{{company.logo}}');">
							</a>
						</td>
						<td><span class="company-name" style="color: #{{company.color}};">{{company.name}}</span>{{company.domain}}</td>
						<td>{{company.admin_attributes.created_at}}</td>
						<td>{{company.admin_attributes.all_users}}({{company.admin_attributes.active_users}})</td>
						<td>{{company.app_parts.data.length}}</td>
						<td>22</td>
						<td>180</td>
						<td>10.000</td>
						<td>87.500</td>
						<td class="action-links">
							<a ng-href="#/app/saleforce1/companies/edit-{{company.id}}" class="edit">
								<i class="fa-pencil"></i>
							</a>
						</td>
					</tr>

				</tbody>
			</table>
			<div class="org-controlers">
				<div class="right-side">
					<a ui-sref="app.saleforce1.companies" class="btn btn-half btn-transparent">Ekporter forbrug</a>
					<a ui-sref="app.saleforce1.companies.new" class="btn btn-half btn-blue">Opret Firma</a>
				</div>
			</div>
		</div>
	</div>
</div>