<div class="col-md-10 col-md-offset-1" ng-controller="CompanyCreateCtrl" >

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Opret nyt firma</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			
			<form role="form" id="form1" method="post" name="companyCreateForm" class="validate" >
				<div class="panel-body" style="">
					<div class="form-title">Firma DETALJER</div>
					<div class="form-section">
						<div class="col-md-2 col-md-offset-1">
						
							<label class="control-label center">Logo</label>
							<div class="ng-scope upload-img upload-logo" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-init="{singleFile:true, target: '/api/file/', testChunks:false}"
                                    flow-files-submitted="$flow.upload()"
									flow-file-success="uploader.controllerFn($flow, $file, $message)"
									flow-object="existingFlowObject">
							
								<div class="thumbnail no-image" ng-hide="$flow.files.length">
								
								</div>
								
								<div class="thumbnail" ng-show="$flow.files.length">
								  <img flow-img="$flow.files[0]" />
								</div>

								<div>
								  <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn>Importer Logo</span>
								  <!--<span class="btn btn-info" ng-show="$flow.files.length" flow-btn>Change</span>-->
								  <span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">
								  	<i class="fa fa-times"></i>
								  </span>	  
								</div>
								
							</div>
						</div>
						<div class="form-group col-md-9">
							<div class="col-md-12 profile-line">
								<label class="col-md-3 control-label">Firma navn</label>
								<input class="col-md-9 form-control" type="text" data-message-required="Firma navn is required." data-validate="required" name="fornavn" ng-model="companyinfo.name">
							</div>
							<div class="col-md-12 profile-line">
								<label class="col-md-3 control-label">CVR</label>
								<input class="col-md-9 form-control" type="text" name="cvr" ng-model="companyinfo.cvr">
							</div>
							<div class="col-md-12 profile-line">
								<label class="col-md-3 control-label">Domain</label>
								<input class="col-md-4 form-control" type="text" data-message-required="Domain is required." data-validate="required" name="domain" ng-model="companyinfo.domain">
								<label class="col-md-5 control-label control-after">.eloomi.dk</label>
							</div>
							
							<div class="col-md-12 profile-line">
							<label class="col-md-3 control-label">Color</label>
							<input class="col-md-4 form-control colorpicker colorpicker-element" type="text" name="color" ng-model="companyinfo.color">
							</div>
						</div>
					</div>
							
					<div class="form-title">Firma Kontakt Info<span>Valgfri</span></div>
					<div class="form-section">
						<div class="form-group col-md-12">
							<label class="col-md-3 control-label">Adresse</label>
							<input class="col-md-9 form-control" type="text" name="position" ng-model="companyinfo.address">
						</div>
						<div class="form-group col-md-12">
							<label class="col-md-3 control-label">By</label>
							<input class="col-md-9 form-control" type="text" name="city" ng-model="companyinfo.city">
						</div>
						<div class="form-group col-md-12">
							<label class="col-md-3 control-label">Postnummer</label>
							<input class="col-md-9 form-control" type="text" name="zip" ng-model="companyinfo.zip">
						</div>
						<div class="form-group col-md-12">
							<label class="col-md-3 control-label">Telefon</label>
							<input class="col-md-9 form-control" type="text" name="phone" ng-model="companyinfo.phone">
						</div>
						<div class="form-group col-md-12">
							<label class="col-md-3 control-label">Kontakt Person</label>
							<input class="col-md-9 form-control" type="text" name="contact" ng-model="companyinfo.contact_name">
						</div>
						<div class="form-group col-md-12">
							<label class="col-md-3 control-label">Hjemmeside</label>
							<input class="col-md-9 form-control" type="text" name="homepage" ng-model="companyinfo.homepage">
						</div>
					</div>

					<div class="form-title">eloomi Kontrakt</div>
					<div class="form-section form-checkboxes">
						<div class="col-md-10 col-md-offset-2" ng-repeat="app in allApps">
							<label>
								<input type="checkbox" class="cbr cbr-default" checklist-model="companyinfo.app_part_ids" checklist-value="app.id" />{{app.name}}
							</label>
						</div>
					</div>
					<div class="col-md-4">
						<button class="btn btn-full btn-transparent" ui-sref="app.saleforce1.companies">Tilbage</button>
					</div>
					<div class="col-md-4">
						<button class="btn btn-full btn-blue" ng-click="createcompany(companyCreateForm)">Opret Firma</button>
					</div>
					<div class="col-md-4">
						<button class="btn btn-full btn-blue" ng-click="createcompanyandrefresh(companyCreateForm)" >Opret Firma Og Opret Flere</button>
					</div>
				</div>
			</form>
			
		</div>
		
	</div>