<nav class="navbar horizontal-menu" ng-class="{'navbar-fixed-top': layoutOptions.horizontalMenu.isFixed, 'navbar-minimal': layoutOptions.horizontalMenu.minimal, 'click-to-expand': layoutOptions.horizontalMenu.clickToExpand}">
		
		<div class="navbar-inner">
		
			<!-- Navbar Brand -->
			<div class="navbar-brand">
				<a ui-sref=".forside" class="logo">
					<img src="assets/imgs/eloomi-logo@2x.png" width="100" alt="" class="hidden-xs" />
					<img src="assets/imgs/eloomi-logo@2x.png" width="100" alt="" class="visible-xs" />
				</a>
			</div>
				
			<!-- Mobile Toggles Links -->
			<div class="nav navbar-mobile">
			
				<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
				<div class="mobile-menu-toggle">
					<!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
					<a href="#" data-toggle="settings-pane" data-animate="true">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="#" data-toggle="user-info-menu-horizontal">
						<i class="fa-bell-o"></i>
						<span class="badge badge-success">7</span>
					</a>
					
					<a href="#" data-toggle="mobile-menu-horizontal">
						<i class="fa-bars"></i>
					</a>
				</div>
				
			</div>
			
			<div class="navbar-mobile-clear"></div>
			
			<!-- main menu -->
			<ul class="navbar-nav submenu" ng-app auto-active ng-controller="NavigationCtrl">
				<li class="">
					<a ui-sref="app.forside">
						<span class="title">Forside</span>
					</a>
				</li>
				<li class="has-sub" ng-class="{hover: organization} "   ng-mouseenter="organization = true" ng-mouseleave="organization = false">
					<a ui-sref="app.organization">
						<span class="title">Organisation</span>
					</a>
					<ul auto-active>
						<li>
							<a ui-sref="app.organization.units">
								<span class="title">Afdelinger</span>
							</a>
						</li>
						<li>
							<a ui-sref="app.organization.teams">
								<span class="title">Teams</span>
							</a>
						</li>
						<li>
							<a ui-sref="app.organization.users">
								<span class="title">Brugere</span>
							</a>
						</li>
						<li>
							<a ui-sref="app.organization.coaches">
								<span class="title">Coaches</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="has-sub" ng-class="{hover: learning}" ng-mouseenter="learning = true" ng-mouseleave="learning = false">
					<a ui-sref="app.learning">
						<span class="title">Læring</span>
					</a>
					<ul>
						<li>
							<a ui-sref="app.learning.courses">
								<span class="title">Kurser</span>
							</a>
						</li>
						<li>
							<a ui-sref="app.learning.shop">
								<span class="title">Kursus shop</span>
							</a>
						</li>
						<li>
							<a ui-sref="app.learning.certificates">
								<span class="title">Certifikater</span>
							</a>
						</li>
						<li>
							<a ui-sref="app.learning.badges">
								<span class="title">Badges</span>
							</a>
						</li>
						<li>
							<a ui-sref="app.learning.courseslist">
								<span class="title">Kursus/Admin</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a ui-sref="app.goalscoaching">
						<span class="title">Mål & Coaching</span>
					</a>
				</li>
				<li>
					<a ui-sref="app.raport">
						<span class="title">Rapporter</span>
					</a>
				</li>
				
				<li class="has-sub" ng-class="{hover: sf1} "   ng-mouseenter="sf1 = true" ng-mouseleave="sf1 = false">
					<a ui-sref="app.saleforce1">
						<span class="title">SF1</span>
					</a>
					<ul>
						<li>
							<a ui-sref="app.saleforce1.companies">
								<span class="title">Firmaer</span>
							</a>
						</li>
						<li>
							<a ui-sref="app.saleforce1.courseslist">
								<span class="title">Kurser</span>
							</a>
						</li>
					</ul>
				</li>
				
			</ul>
					
			
			<!-- notifications and other links -->
			<ul class="nav nav-userinfo navbar-right" ng-class="{'mobile-is-visible': layoutOptions.userInfoNavVisible}">
				
				<li class="dropdown xs-left" on-toggle="updatePsScrollbars()">
					<a class="notification-icon dropdown-toggle" href="" aria-haspopup="true" aria-expanded="false">
						<i class="fa-envelope-o"></i>
						<span class="badge badge-green">2</span>
					</a>
						
					<ul class="dropdown-menu messages">
						<li>
							<ul class="dropdown-menu-list list-unstyled ps-scrollbar">
							
								<li class="active"><!-- "active" class means message is unread -->
									<a href="#">
										<span class="line">
											<strong>Kenneth Jensen</strong>
											<span class="light small">- i dag</span>
										</span>
										
										<span class="line desc small">
											Kan du give mig en opdatering om udviklingen på eloomi projekt?
										</span>
									</a>
								</li>
								
								<li class="active">
									<a href="#">
										<span class="line">
											<strong>Razvan Morut</strong>
											<span class="light small">- i går</span>
										</span>
										
										<span class="line desc small">
											Design er gjort for nu, kan du begynde at tilføje de rigtige data.
										</span>
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="line">
											Klaus Skytte
											<span class="light small">- 2 dage siden</span>
										</span>
										
										<span class="line desc small">
											Hvilken dimension vil du have for det nye logo?
										</span>
									</a>
								</li>
								
							</ul>
						</li>
						
						<li class="external">
							<a href="blank-sidebar.html">
								<span>Alle beskeder</span>
								<i class="fa-link-ext"></i>
							</a>
						</li>
					</ul>
					
				</li>
				
				<li class="dropdown xs-left" on-toggle="updatePsScrollbars()">
					<a class="notification-icon notification-icon-messages dropdown-toggle" href="" aria-haspopup="true" aria-expanded="false">
						<i class="fa-bell-o"></i>
						<span class="badge badge-purple">3</span>
					</a>
						
					<ul class="dropdown-menu notifications">
					
						<li>
							<ul class="dropdown-menu-list list-unstyled ps-scrollbar">
								<li class="active notification-success">
									<a href="#">
										<i class="fa-user"></i>
										
										<span class="line">
											<strong>Ny bruger registreret</strong>
										</span>
										
										<span class="line small time">
											30 sekunder siden
										</span>
									</a>
								</li>
								
								<li class="active notification-secondary">
									<a href="#">
										<i class="fa-lock"></i>
										
										<span class="line">
											<strong>Privacy indstillinger er blevet ændret</strong>
										</span>
										
										<span class="line small time">
											3 timer siden
										</span>
									</a>
								</li>
								
								<li class="active notification-danger">
									<a href="#">
										<i class="fa-calendar"></i>
										
										<span class="line">
											<strong>Kate aflyst begivenheden</strong>
										</span>
										
										<span class="line small time">
											4 timer siden
										</span>
									</a>
								</li>
								
								<li class="notification-info">
									<a href="#">
										<i class="fa-database"></i>
										
										<span class="line">
											Serveren er status er stabil
										</span>
										
										<span class="line small time">
											9 timer siden
										</span>
									</a>
								</li>
								
							</ul>
						</li>
						
						<li class="external">
							<a href="#">
								<span>Se alle meddelelser</span>
								<i class="fa-link-ext"></i>
							</a>
						</li>
						
					</ul>
				</li>
		
				<li class="dropdown user-profile ms-hover" ng-controller="UserSigninController">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">
						<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/2/005/09a/219/07bacf3.jpg" alt="user-image" class="img-circle img-inline userpic-32" width="34" />
					</a>
					
					<ul class="dropdown-menu user-profile-menu list-unstyled">
						<li>
							<a ui-sref="app.profile">
								<i class="fa-user"></i>
								Profil
							</a>
						</li>
						<li>
							<a ui-sref="app.settings">
								<i class="fa-wrench"></i>
								Indstillinger
							</a>
						</li>
						<li>
							<a ui-sref="app.help">
								<i class="fa-info"></i>
								Hjælp
							</a>
						</li>
						<li>
							<a ui-sref="app.unknown">
								<i class="fa-exchange"></i>
								Skift til leder
							</a>
						</li>
						<li>
							<a ui-sref="app.unknown">
								<i class="fa-exchange"></i>
								Skift til admin
							</a>
						</li>
						<li>
                                <a ui-sref="app.login" ng-click="logout()">
								<i class="fa-lock"></i>
								Log ud
							</a>
						</li>
					</ul>
				</li>
				
			</ul>
	
		</div>
		
	</nav>

<!-- <div class="notification-slider" width="300%">
	<div class="top-notification" ng-repeat="user in users">
		<div class="page-container">
			<div class="top-notification-content">
				<div class="notification-text"> {{user.name}} </div>
			</div>
		</div>
	</div>
</div> -->

<!-- <div class="notification-slider">
	<div class="top-notification" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
		<div class="page-container">
			<div class="top-notification-content">
				<i class="notification-icon fa-exclamation"></i>
				<div class="notification-text"><h5>Du mangler at fuldføre kurset: "Gør din strategi flexibel"</h5><p>Kurset udløber på fredag og bliver derefter låst</p></div>
			</div>
			<a href="#" class="btn btn-blue" id="top-notification-go">Start Kurset</a>
			<button id="top-notification-close" class="btn btn-transparent">Påmind mig senere</button>
		</div>
	</div>
	<div class="top-notification" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
		<div class="page-container">
			<div class="top-notification-content">
				<i class="notification-icon fa-exclamation"></i>
				<div class="notification-text"><h5>Du mangler at fuldføre kurset: "Gør din strategi flexibel"</h5><p>Kurset udløber på fredag og bliver derefter låst</p></div>
			</div>
			<a href="#" class="btn btn-blue" id="top-notification-go">Start Kurset</a>
			<button id="top-notification-close" class="btn btn-transparent">Påmind mig senere</button>
		</div>
	</div>
</div> -->
<div class="page-container">
	<div class="main-content">
		<div class="row">
			<div class="eBreadcrumbs">
				<div class="breadcrumb bc-1 well" ncy-breadcrumb></div>
			</div>
		</div>
		<ui-view class="eloomi-content"></ui-view>
		
		
		
	</div>
</div>
	
<footer class="main-footer sticky footer-type-1">

	<div class="footer-inner">
	
		<div class="footer-text">
			<ul class="footer-navigation">
				<li>
					<a ui-sref="app.system">
						<span class="title">Systemet er udviklet af eloomi</span>
					</a>
				</li>
				<li>
					<a ui-sref="app.terms">
						<span class="title">Vilkår &amp; Betlingelser</span>
					</a>
				</li>
				<li>
					<a ui-sref="app.policy">
						<span class="title">Privacy Policy</span>
					</a>
				</li>
				<li>
					<a ui-sref="app.help">
						<span class="title">Hjælp til systemet</span>
					</a>
				</li>
			</ul>
		</div>
		
		<div class="footer-logo">
			<a href="/standard/eloomi1.php">
				<img class="hidden-xs" width="80" alt="" src="assets/imgs/eloomi-logo-dark@2x.png">
			</a>
		</div>
		
	</div>
	
</footer>