<div class="row" ui-view>
	<div class="col-md-8">
		<tabset>
			<tab heading="Indhold">
				<div class="panel panel-default no-padding-side">
			
				<div class="panel-body">
				
					<div class="org-controlers">
						<div class="left-side">
							<h3>Gør din strategi fleksibel</h3>
						</div>
						<div class="right-side">
							<a ui-sref="app.saleforce1.courseslist.edit.newmodule" class="btn btn-full btn-blue">Tilføj modul</a>
						</div>
					</div>
			
					<div class="uk-list-header">
						<div class="uk-main-col">Moduler</div>
						<div class="uk-right uk-one-col">
							<div class="uk-small-col">Aktiv</div>
						</div>
					</div>
				
					<script type="text/javascript">
						jQuery.UIkit.nestable(jQuery('#modules-nestable'));
					</script>
				
					<div class="pc-table">
						<ul id="modules-nestable" class="uk-nestable grouped-nestables" data-uk-nestable="{maxDepth:0}">
							<li>
								<div class="uk-nestable-item">
								    <div class="uk-nestable-handle module-standard"></div>
								    <div class="list-label">Standard</div>
								    <div data-nestable-action="toggle"></div>
								    <div class="uk-right uk-one-col">
								    	<div class="uk-col">Aktiv</div>
								    	<a class="uk-col uk-col-icon" href="">
								    		<i class="fa-pencil"></i>
								    	</a>
								    </div>
								</div>
							</li>
							<li>
								<div class="uk-nestable-item">
								    <div class="uk-nestable-handle module-poll"></div>
								    <div class="list-label">Questions and Poll</div>
								    <div data-nestable-action="toggle"></div>
								    <div class="uk-right uk-one-col">
								    	<div class="uk-col">Aktiv</div>
								    	<a class="uk-col uk-col-icon" href="">
								    		<i class="fa-pencil"></i>
								    	</a>
								    </div>
								</div>
							</li>
							<li>
								<div class="uk-nestable-item">
								    <div class="uk-nestable-handle module-pp"></div>
								    <div class="list-label">PowerPoint</div>
								    <div data-nestable-action="toggle"></div>
								    <div class="uk-right uk-one-col">
								    	<div class="uk-col">Ikke Aktiv</div>
								    	<a class="uk-col uk-col-icon" href="">
								    		<i class="fa-pencil"></i>
								    	</a>
								    </div>
								</div>
							</li>
							<li>
								<div class="uk-nestable-item">
								    <div class="uk-nestable-handle module-video"></div>
								    <div class="list-label">Video</div>
								    <div data-nestable-action="toggle"></div>
								    <div class="uk-right uk-one-col">
								    	<div class="uk-col">Aktiv</div>
								    	<a class="uk-col uk-col-icon" href="">
								    		<i class="fa-pencil"></i>
								    	</a>
								    </div>
								</div>
							</li>
							<li>
								<div class="uk-nestable-item">
								    <div class="uk-nestable-handle module-scorm"></div>
								    <div class="list-label">SCORM</div>
								    <div data-nestable-action="toggle"></div>
								    <div class="uk-right uk-one-col">
								    	<div class="uk-col">Aktiv</div>
								    	<a class="uk-col uk-col-icon" href="">
								    		<i class="fa-pencil"></i>
								    	</a>
								    </div>
								</div>
							</li>
							<li>
								<div class="uk-nestable-item">
								    <div class="uk-nestable-handle module-attached"></div>
								    <div class="list-label">Attached</div>
								    <div data-nestable-action="toggle"></div>
								    <div class="uk-right uk-one-col">
								    	<div class="uk-col">Aktiv</div>
								    	<a class="uk-col uk-col-icon" href="">
								    		<i class="fa-pencil"></i>
								    	</a>
								    </div>
								</div>
							</li>
						</ul>
					</div>
					
					<div class="org-controlers">
						<div class="right-side">
							<a ui-sref="app.saleforce1.courseslist.edit.newmodule" class="btn btn-full btn-blue">Tilføj modul</a>
						</div>
					</div>
				
				</div>
			</div>
			</tab>
			<tab heading="Tildel kursus">
				<div class="panel">

					<div class="org-controlers">
						<script type="text/javascript">
								jQuery(document).ready(function($){
									jQuery(".bulk-action select").selectBoxIt();
								});
						</script>
						
						<div class="bulk-action" style="margin-left: 0;">
							<select name="course_action" ng-model="selected.action">
								<option value="activate">Bought</option>
								<option value="deactivate">Remove Access</option>
							</select>
						</div>
						<button class="btn btn-apply" ng-click="applyUserBulkAction()">Anvend</button>
					</div>
					
					<table id="courses-list" class="table dataTable" cellspacing="0" width="100%">
						<colgroup>
							<col width="5%"></col>
							<col width="75%"></col>
							<col width="15%"></col>
							<col width="5%"></col>
						</colgroup>
					
						<thead>
							<tr>
								<th><input type="checkbox" id="rootCheck" class="cbr" name="members-list[]"  ng-model="allUserSelect"  ng-change="changeAllUserSelect()" /></th>
								<th>Firma Navn</th>
								<th>Status</th>
								<th></th>
							</tr>
						</thead>
					
						<tfoot>
							<tr>
								<th><input type="checkbox" id="rootCheck" class="cbr" name="members-list[]"  ng-model="allUserSelect"  ng-change="changeAllUserSelect()" /></th>
								<th>Firma Navn</th>
								<th>Status</th>
								<th></th>
							</tr>
						</tfoot>
					
						<tbody>
							<tr>
								<td>
									<input type="checkbox"  class="cbr" name="members-list[]" checklist-model="selected.users" checklist-value="user" ng-checked="allUserSelect"  value="1" />
								</td>
								<td>Telia</td>
								<td>Bought</td>
								<td class="action-links">
									<a ng-href="#/app/saleforce1/courseslist/edit-17" class="edit">
										<i class="fa-pencil"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox"  class="cbr" name="members-list[]" checklist-model="selected.users" checklist-value="user" ng-checked="allUserSelect"  value="1" />
								</td>
								<td>TDC</td>
								<td>Not bought</td>
								<td class="action-links">
									<a ng-href="#/app/saleforce1/courseslist/edit-17" class="edit">
										<i class="fa-pencil"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox"  class="cbr" name="members-list[]" checklist-model="selected.users" checklist-value="user" ng-checked="allUserSelect"  value="1" />
								</td>
								<td>Saxo Bank</td>
								<td>Not bought</td>
								<td class="action-links">
									<a ng-href="#/app/saleforce1/courseslist/edit-17" class="edit">
										<i class="fa-pencil"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox"  class="cbr" name="members-list[]" checklist-model="selected.users" checklist-value="user" ng-checked="allUserSelect"  value="1" />
								</td>
								<td>Jyske Bank</td>
								<td>Bought</td>
								<td class="action-links">
									<a ng-href="#/app/saleforce1/courseslist/edit-17" class="edit">
										<i class="fa-pencil"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox"  class="cbr" name="members-list[]" checklist-model="selected.users" checklist-value="user" ng-checked="allUserSelect"  value="1" />
								</td>
								<td>Lego</td>
								<td>Not bought</td>
								<td class="action-links">
									<a ng-href="#/app/saleforce1/courseslist/edit-17" class="edit">
										<i class="fa-pencil"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox"  class="cbr" name="members-list[]" checklist-model="selected.users" checklist-value="user" ng-checked="allUserSelect"  value="1" />
								</td>
								<td>3</td>
								<td>Not bought</td>
								<td class="action-links">
									<a ng-href="#/app/saleforce1/courseslist/edit-17" class="edit">
										<i class="fa-pencil"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox"  class="cbr" name="members-list[]" checklist-model="selected.users" checklist-value="user" ng-checked="allUserSelect"  value="1" />
								</td>
								<td>IKEA</td>
								<td>Not bought</td>
								<td class="action-links">
									<a ng-href="#/app/saleforce1/courseslist/edit-17" class="edit">
										<i class="fa-pencil"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox"  class="cbr" name="members-list[]" checklist-model="selected.users" checklist-value="user" ng-checked="allUserSelect"  value="1" />
								</td>
								<td>DR</td>
								<td>Bought</td>
								<td class="action-links">
									<a ng-href="#/app/saleforce1/courseslist/edit-17" class="edit">
										<i class="fa-pencil"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="org-controlers">
						<script type="text/javascript">
								jQuery(document).ready(function($){
									jQuery(".bulk-action select").selectBoxIt();
								});
						</script>
						
						<div class="bulk-action" style="margin-left: 0;">
							<select name="course_action" ng-model="selected.action">
								<option value="activate">Bought</option>
								<option value="deactivate">Remove Access</option>
							</select>
						</div>
						<button class="btn btn-apply" ng-click="applyUserBulkAction()">Anvend</button>
					</div>
					
				</div>
			</tab>
			<tab heading="Indstillinger">
				<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Opdatering Kursus</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
						
						<form role="form" id="form-unit" method="post" class="validate">
							<div class="panel-body" style="">
							
								<div class="form-title">Kursus DETALJER</div>
								
								<div class="form-section">
									<div class="form-group col-md-8">
										<div class="profile-line col-md-12">
											<label class="col-md-3 control-label">Kursus navn</label>
											<input class="col-md-9 form-control" type="text" data-message-required="Navn is required." data-validate="required" name="fornavn">
										</div>
										<div class="profile-line col-md-12">
											<label class="col-md-3 control-label">Beskrivelse</label>
											<textarea rows="6" class="col-md-9 form-control"></textarea>
										</div>
										<div class="profile-line col-md-12">
											<label class="col-md-3 control-label">Kode</label>
											<input class="col-md-9 form-control" type="text" name="fornavn">
										</div>
										<div class="profile-line col-md-12">
											<label class="col-md-3 control-label">Type</label>
											<script type="text/javascript">
												jQuery(document).ready(function($)
												{
													$("#sf1-course-type").selectBoxIt().on('open', function()
													{
														// Adding Custom Scrollbar
														$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
													});
												});
											</script>
											<div class="col-md-9">
												<select class="form-control" id="sf1-course-type">
													<option value="0">i Shop</option>
													<option value="1">Assigned</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-md-offset-1">
										<div class="ng-scope upload-img upload-big-image" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-init="{singleFile:true, target: '/api/file/', testChunks:false}"
			                                    flow-files-submitted="$flow.upload()"
			                                    flow-file-success="$file.msg= $message">
										
											<div class="thumbnail no-image" ng-hide="$flow.files.length">
											
											</div>
											
											<div class="thumbnail" ng-show="$flow.files.length">
											  <img flow-img="$flow.files[0]" />
											</div>
			
											<div>
											  <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn>Importer Billede</span>
											  <!--<span class="btn btn-info" ng-show="$flow.files.length" flow-btn>Change</span>-->
											  <span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">
											  	<i class="fa fa-times"></i>
											  </span>	  
											</div>
											
										</div>
									</div>
								</div>
								
								<div class="form-title">Forfaldsdato og tilgængelighed</div>
								
								<div class="form-section col-md-12">
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">Forfaldsdato</label>
										<input class="form-control col-md-10 datepicker" type="text" data-format="yyyy-mm-dd" data-start-date="1d">
									</div>
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">Tilgængelighed</label>
										<script type="text/javascript">
											jQuery(document).ready(function($)
											{
												$("#valid-for").selectBoxIt().on('open', function()
												{
													// Adding Custom Scrollbar
													$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
												});
											});
										</script>
										<div class="col-md-10">
											<select class="form-control" id="valid-for">
												<option value="1">1 ug</option>
												<option value="2">2 uge</option>
												<option value="3">3 uge</option>
												<option value="4">4 uge</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-title">Points og orden</div>
								
								<div class="form-section col-md-12">
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">Points</label>
										<input class="col-md-10 form-control" type="text" name="points">
									</div>
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">Orden</label>
										<script type="text/javascript">
											jQuery(document).ready(function($)
											{
												$("#ordering").selectBoxIt().on('open', function()
												{
													// Adding Custom Scrollbar
													$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
												});
											});
										</script>
										<div class="col-md-10">
											<select class="form-control" id="ordering">
												<option value="no">Nej</option>
												<option value="yes">Ja</option>
											</select>
										</div>
									</div>
								</div>
								
								<div class="form-title">Certifikater</div>
								
								<div class="form-section col-md-12">
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">Importer</label>
										<input id="field-4" class="col-md-10 form-control" type="file">
									</div>
								</div>
								
								<div class="col-md-4 col-md-offset-4">
									<button class="btn btn-full btn-transparent">Annuller</button>
								</div>
								<div class="col-md-4">
									<button type="submit" class="btn btn-full btn-blue">Opdatering</button>
								</div>
								
							</div>
						</form>
						
					</div>
			</tab>
		</tabset>
	</div>
	<div class="col-md-4" style="padding-bottom: 30px;">
	
		<div class="panel panel-default no-padding">
			<div class="panel-heading">
				<h3>Kurser set for nylig</h3>
			</div>
			<div class="panel-body">
				<ul class="xe-tab-list">
					<li>
						<span class="element-title">Gør din strategi flexibel</span>
						<span class="element-time">
							<i class="fa fa-angle-right"></i>
							<span class="element-value">i dag</span>
						</span>								
					</li>
					<li>
						<span class="element-title">Kom godt i gang</span>
						<span class="element-time">
							<i class="fa fa-angle-right"></i>
							<span class="element-value">for 2 dage siden</span>
						</span>
					</li>
					<li>
						<span class="element-title">Kend dine konkurrenter</span>
						<span class="element-time">
							<i class="fa fa-angle-right"></i>
							<span class="element-value">for 4 dage siden</span>
						</span>
					</li>
					<li>
						<span class="element-title">Vores nuværende produkter</span>
						<span class="element-time">
							<i class="fa fa-angle-right"></i>
							<span class="element-value">for 7 dage siden</span>
						</span>
					</li>
					
				</ul>
			</div>
		</div>

	</div>
</div>