
/* PROXIMA NOVA */
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Regular.otf')  format('opentype'),
	     url('ProximaNova-Regular.woff') format('woff'), url('ProximaNova-Regular.ttf')  format('truetype'), url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Bold.otf')  format('opentype'),
	     url('ProximaNova-Bold.woff') format('woff'), url('ProximaNova-Bold.ttf')  format('truetype'), url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Semibold.otf')  format('opentype'),
	     url('ProximaNova-Semibold.woff') format('woff'), url('ProximaNova-Semibold.ttf')  format('truetype'), url('ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* OXYGEN */
@font-face {
  font-family: 'Oxygen';
  src: url('Oxygen.eot?#iefix') format('embedded-opentype'),  url('Oxygen.otf')  format('opentype'),
	     url('Oxygen.woff') format('woff'), url('Oxygen.ttf')  format('truetype'), url('Oxygen.svg#Oxygen') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oxygen-Bold';
  src: url('Oxygen-Bold.eot?#iefix') format('embedded-opentype'),  url('Oxygen-Bold.otf')  format('opentype'),
	     url('Oxygen-Bold.woff') format('woff'), url('Oxygen-Bold.ttf')  format('truetype'), url('Oxygen-Bold.svg#Oxygen-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
