<div class="row">
	<div class="col-md-8 achievements">
		<div class="panel panel-default">
		
			<div class="panel-heading">
				<h3 class="panel-title">Badges</h3>
				<p>Du har opnået følgende badges</p>
			</div>
						
		
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<div class="achievements-icon" style="background-color: #a761ff;">
							<i class="fa fa-flag-checkered"></i>
						</div>
						<h4>Første kursus</h4>
						<p>Information</p>
					</div>
					
					<div class="col-md-3 inactive">
						<div class="achievements-icon">
							<i class="fa-puzzle-piece"></i>
						</div>
						<h4>Title</h4>
						<p>Information</p>
					</div>
					
					<div class="col-md-3 inactive">
						<div class="achievements-icon">
							<i class="fa-line-chart"></i>
						</div>
						<h4>Anno 2015 Markedsanalyse</h4>
						<p>Information</p>
					</div>
					
					<div class="col-md-3">
						<div class="achievements-icon" style="background-color: #00c3c0;">
							<i class="fa-trophy"></i>
						</div>
						<h4>Top 10</h4>
						<p>Information</p>
					</div>
				</div>

				<div class="row">
				
					<div class="col-md-3 inactive">
						<div class="achievements-icon">
							<i class="fa-quote-left"></i>
						</div>
						<h4>Title</h4>
						<p>Information</p>
					</div>
					
					<div class="col-md-3 inactive">
						<div class="achievements-icon">
							<i class="fa-graduation-cap"></i>
						</div>
						<h4>Title</h4>
						<p>Information</p>
					</div>
					
					<div class="col-md-3">
						<div class="achievements-icon" style="background-color: #e3bbff;">
							<i class="fa fa-terminal"></i>
						</div>
						<h4>Selvudviklingskursus</h4>
						<p>Information</p>
					</div>
					
					<div class="col-md-3 inactive">
						<div class="achievements-icon">
							<i class="fa-rocket"></i>
						</div>
						<h4>Title</h4>
						<p>Information</p>
					</div>
				</div>
			
				<div class="row">
					
					<div class="col-md-3 inactive">
						<div class="achievements-icon">
							<i class="fa-users"></i>
						</div>
						<h4>Social Media Kursus</h4>
						<p>Information</p>
					</div>
					
					<div class="col-md-3">
						<div class="achievements-icon" style="background-color: #ff864b;">
							<i class="fa-shield"></i>
						</div>
						<h4>Title</h4>
						<p>Information</p>
					</div>
					
					<div class="col-md-3 inactive">
						<div class="achievements-icon">
							<i class="fa-recycle"></i>
						</div>
						<h4>Title</h4>
						<p>Information</p>
					</div>
					
					<div class="col-md-3">
						<div class="achievements-icon" style="background-color: #ffdc69;">
							<i class="fa-trophy"></i>
						</div>
						<h4>Top 5</h4>
						<p>Information</p>
					</div>
				</div>
				
				<div class="row">
					<ul class="pagination pagination-sm eCentrated">
						<li class="active">
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
					</ul>
				</div>
				
			</div>
			
		</div>		
	</div>

	<div class="col-md-4">
		
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#notifications" data-toggle="tab">
					<span class="hidden-xs">Senest opnået</span>
				</a>
			</li>
			<li>
				<a href="#activities" data-toggle="tab">
					<span class="hidden-xs">Din lærning</span>
				</a>
			</li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane active" id="notifications">
				<ul class="xe-tab-list">
					<li>
						<i class="achiv fa-terminal" style="background-color: #e3bbff;"></i>
						<span class="element-title">Selvudviklingskursus</span>
						<span class="element-time">i dag</span>
					</li>
					<li>
						<i class="achiv fa-trophy" style="background-color: #ffdc69;"></i>
						<span class="element-title">Top 5</span>
						<span class="element-time">1 dag</span>
					</li>
					<li>
						<i class="achiv fa-rocket" style="background-color: #ffb8bb;"></i>
						<span class="element-title">Oprettet første mål</span>
						<span class="element-time">2 dage</span>
					</li>
					<li>
						<i class="achiv fa-trophy" style="background-color: #00c3c0;"></i>
						<span class="element-title">Top 10</span>
						<span class="element-time">2 dage</span>
					</li>
					<li>
						<i class="achiv fa-flag-checkered" style="background-color: #a761ff;"></i>
						<span class="element-title">Første kursus</span>
						<span class="element-time">3 dage</span>
					</li>
				</ul>
			</div>
			<div class="tab-pane" id="activities">
				<ul class="xe-tab-list xe-list-imgs">
					<li>
						<span class="element-img"><img src="demo-images/learning-7-mini.jpg" alt="" /></span>
						<span class="element-title">Vores core-values</span>
						<span class="element-time">PDF</span>
					</li>
					<li>
						<span class="element-img"><img src="demo-images/learning-4-mini.jpg" alt="" /></span>
						<span class="element-title">Vores naværende produkter</span>
						<span class="element-time">PDF</span>
					</li>
					<li>
						<span class="element-img"><img src="demo-images/learning-5-mini.jpg" alt="" /></span>
						<span class="element-title">Mediabuying med Kasper</span>
						<span class="element-time">Video</span>
					</li>
					<li>
						<span class="element-img"><img src="demo-images/learning-8-mini.jpg" alt="" /></span>
						<span class="element-title">Introduktion</span>
						<span class="element-time">Kursus</span>
					</li>
					<li>
						<span class="element-img"><img src="demo-images/learning-12-mini.jpg" alt="" /></span>
						<span class="element-title">Social platforms med Ali</span>
						<span class="element-time">Video</span>
					</li>
				</ul>
			</div>
		</div>
		
		
	</div>
</div>