<div class="row profile-env">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Certifikater</h3>
				<p>Du har opnået følgende certifikater</p>
			</div>
			
			<div class="panel-body">
				
				<div class="certificate col-md-10 col-md-offset-1">
					<span>Modtaget d. 21. januar 2015</span>
					
					<div class="certificate-div">
						<div class="certificate-box">
							<div class="certificate-text col-md-9">
									<h2>Gennemført kursus: “Konflikthåndtering”</h2>
									<p>Deltageren har med tilfredsstillende resultat gennemført kurset, og har dermed:<br/><br/>
									
									- Opnået færdigheder i håndtering af konfliktsituationer.<br/>
									- Kan anvende relevante teknikker<br/>
									- Opnået forståelse for egen rolle og adfærd.<br/>
									- Opnået færdigheder i håndtering af stress.
									</p>
							</div>
							<div class="certificate-image col-md-3">
								<img src="http://thumbs.dreamstime.com/z/template-certificate-currency-diplomas-vector-illustration-33335493.jpg" alt="" />
							</div>
						</div>
					</div>
				
				</div>
				
				<div class="certificate col-md-10 col-md-offset-1">
					<span>Modtaget d. 12. januar 2015</span>
					
					<div class="certificate-div">
						<div class="certificate-box">
							<div class="certificate-text col-md-9">
									<h2>Gennemført kursus: “Lederpotentiale - niveau 2”</h2>
									<p>Deltageren har med tilfredsstillende resultat gennemført kurset, og har dermed:<br/><br/>
									
									- Opnået færdigheder i lederskab<br/>
									- Fået forståelse for medarbejders behov og adfærd.<br/>
									- Fået indblik i opsigelse og fraskrivning af medarbejdere.
									</p>
							</div>
							<div class="certificate-image col-md-3">
								<img src="http://dhvfitting.com/Certi/9ISO%20CERTIFICATE%20-%20DHVFPL_Page_2.jpg?width=500&height=580" alt="" />
							</div>
						</div>
					</div>
				
				</div>
				
				<div class="certificate col-md-10 col-md-offset-1">
					<span>Modtaget d. 7. januar 2015</span>
					
					<div class="certificate-div">
						<div class="certificate-box">
							<div class="certificate-text col-md-9">
									<h2>Gennemført kursus: “Social platforms med Ali”</h2>
									<p>Deltageren har med tilfredsstillende resultat gennemført kurset, og har dermed:<br/><br/>
									
									- Opnået overordnet viden omkring sociale platforme.<br/>
									- Modtaget læring i ‘professionel’ brug af Facebook.<br/>
									- Udarbejdet forståelse for general brug af Instagram.<br/>
									- Fået indblik i ‘avanceret’ brug af Twitter og LinkedIn.
									</p>
							</div>
							<div class="certificate-image col-md-3">
								<img src="http://www.bureauveritas.co.in/wps/wcm/connect/637e6e004c82a47c99dbffaae3771727/SCS+SAMPLE+CERTIFICATE.JPG?MOD=AJPERES&&lmod=-298918426" alt="" />
							</div>
						</div>
					</div>
				
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="col-md-4 user-info-sidebar">
		<div class="panel panel-default no-padding">
			<div class="panel-heading">
				<h3 class="panel-title">Senest opnået</h3>
			</div>
			<div class="panel-body">
			
				<ul class="xe-tab-list">
					<li>
						<span class="achiv" style="background-image: url('http://thumbs.dreamstime.com/z/template-certificate-currency-diplomas-vector-illustration-33335493.jpg');"></span>
						<span class="element-title">Konflikthåndtering</span>
						<span class="element-time">i dag</span>
					</li>
					<li>
						<span class="achiv" style="background-image: url('http://dhvfitting.com/Certi/9ISO%20CERTIFICATE%20-%20DHVFPL_Page_2.jpg?width=500&height=580');"></span>
						<span class="element-title">Lederpotentiale - niveau 2</span>
						<span class="element-time">2 uge</span>
					</li>
					<li>
						<span class="achiv" style="background-image: url('http://www.bureauveritas.co.in/wps/wcm/connect/637e6e004c82a47c99dbffaae3771727/SCS+SAMPLE+CERTIFICATE.JPG?MOD=AJPERES&&lmod=-298918426');"></span>
						<span class="element-title">Social platforms med Ali</span>
						<span class="element-time">3 uge</span>
					</li>
				</ul>

			</div>
		</div>
		
		<ul class="list-unstyled user-friends-count">
			<li>
				<span>3</span>
				Opnåede certifikater
			</li>
			<li>
				<span>1</span>
				Igangværende kursus
			</li>
			<li>
				<span>8</span>
				Opnåede badges
			</li>
		</ul>
		
	</div>
</div>