<div ui-view>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Muligheder og forslag til at forbedre dig</h3>
			<p>Udvalgte kurser der kan booste dine point og leaderboard placering</p>
		</div>
		
	<div class="panel-body">
		
	<div class="row">
	
		<div class="col-sm-3">
			<a ng-href="#/app/learning/courses/view-1">
			<div class="xe-widget xe-single-news">
				<div class="xe-image">
					<img class="img-responsive" src="demo-images/learning-1.jpg">
					<span class="xe-gradient"></span>
				</div>
				<div class="xe-deadline">
					<span>Udløber om 5 dage</span>
				</div>
				<div class="xe-details">
					<h3>
						Gør din strategi flexibel
					</h3>
					<div class="category">
						Kursus 1 t. 20 m.
					</div>
					<time>
						<div style="width: 20%;">&nbsp;</div>
						<span style="left: 20%; margin-left: 6px;">20%</span>
					</time>
				</div>
			</div>
			</a>
		</div>
						
		<div class="col-sm-3">
			<a ng-href="#/app/learning/courses/view-1">
			<div class="xe-widget xe-single-news">
				<div class="xe-image">
					<img class="img-responsive" src="demo-images/learning-2.jpg">
					<span class="xe-gradient"></span>
				</div>
				<div class="xe-details">
					<h3>
						Kom godt i gang
					</h3>
					<div class="category">
						Introductionsvideo 15 m.
					</div>
					<time>
						<div style="width: 50%;">&nbsp;</div>
						<span style="left: 50%; margin-left: 6px;">50%</span>
					</time>
				</div>
			</div>
			</a>
		</div>
		
		<div class="col-sm-3">
			<a ng-href="#/app/learning/courses/view-1">
			<div class="xe-widget xe-single-news">
				<div class="xe-image">
					<img class="img-responsive" src="demo-images/learning-3.jpg">
					<span class="xe-gradient"></span>
				</div>
				<div class="xe-details">
					<h3>
						Salgstips med Marie
					</h3>
					<div class="category">
						Kursus 1 t. 45 m.
					</div>
					<time>
						<div style="width: 90%;">&nbsp;</div>
						<span style="left: 90%; margin-left: -30px; color: #eeeeee;">90%</span>
					</time>
				</div>
			</div>
			</a>
		</div>
		
		<div class="col-sm-3">
			<a ng-href="#/app/learning/courses/view-1">
			<div class="xe-widget xe-single-news xe-single-news-locked">
				<div class="xe-image">
					<img class="img-responsive" src="demo-images/learning-4.jpg">
					<span class="xe-gradient"></span>
				</div>
				
				<div class="xe-details">
					<h3>
						Vores nuværende produketer
					</h3>
				<div class="category">
						PDF 26 slides
				</div>
					<time>
						<div style="width: 95%;">&nbsp;</div>
						<span style="left: 95%; margin-left: -30px; color: #eeeeee;">95%</span>
					</time>
				</div>
			</div>
			</a>
		</div>
		
	</div>
	
	<div class="row">
	
		<div class="col-sm-3">
			<a ng-href="#/app/learning/courses/view-1">
			<div class="xe-widget xe-single-news">
				<div class="xe-image">
					<img class="img-responsive" src="demo-images/learning-6.jpg">
					<span class="xe-gradient"></span>
				</div>
				<div class="xe-details">
					<h3>
						Anno 2015 Markedsanalyse
					</h3>
					<div class="category">
						Kursus 45 m.
					</div>
					<time>
						<div style="width: 80%;">&nbsp;</div>
						<span style="left: 80%; margin-left: -30px; color: #eeeeee;">80%</span>
					</time>
				</div>
			</div>
			</a>
		</div>
		
		<div class="col-sm-3">
			<a ng-href="#/app/learning/courses/view-1">
			<div class="xe-widget xe-single-news">
				<div class="xe-image">
					<img class="img-responsive" src="demo-images/learning-5.jpg">
					<span class="xe-gradient"></span>
				</div>
				<div class="xe-time-info">
				
				</div>
				<div class="xe-details">
					<h3>
						Mediabuying med Kasper
					</h3>
					<div class="category">
						10 m. video
					</div>
					<time>
						<div style="width: 10%;">&nbsp;</div>
						<span style="left: 10%; margin-left: 6px;">10%</span>
					</time>
				</div>
			</div>
			</a>
		</div>
		
		<div class="col-sm-3">
			<a ng-href="#/app/learning/courses/view-1">
				<div class="xe-widget xe-single-news">
					<div class="xe-image">
						<img class="img-responsive" src="demo-images/learning-7.jpg">
						<span class="xe-gradient"></span>
					</div>
					<div class="xe-details">
						<h3>
							Vores core-values
						</h3>
						<div class="category">
							PDF 4 slides
						</div>
						<time>
							<div style="width: 20%;">&nbsp;</div>
							<span style="left: 20%; margin-left: 6px;">20%</span>
						</time>
					</div>
				</div>
				</a>
			</div>
			
		<div class="col-sm-3">
			<a ng-href="#/app/learning/courses/view-1">
				<div class="xe-widget xe-single-news">
					<div class="xe-image">
						<img class="img-responsive" src="demo-images/learning-11.jpg">
						<span class="xe-gradient"></span>
					</div>
					<div class="xe-details">
						<h3>
							Kend dine konkurrenter
						</h3>
						<div class="category">
							Kursus 2 t. 30 m.
						</div>
						<time>
							<div style="width: 80%;">&nbsp;</div>
							<span style="left: 80%; margin-left: -30px; color: #eeeeee;">80%</span>
						</time>
					</div>
				</div>
				</a>
			</div>
		
	</div>
	
	<div class="row">
		<ul class="pagination pagination-sm eCentrated">
			<li>
				<a href="#">1</a>
			</li>
			<li class="active">
				<a href="#">2</a>
			</li>
			<li>
				<a href="#">3</a>
			</li>
			<li>
				<a href="#">4</a>
			</li>
			<li>
				<a href="#">5</a>
			</li>
		</ul>
	</div>
		
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#new" data-toggle="tab">
						<span class="hidden-xs">Nyeste kurser</span>
					</a>
				</li>
				<li>
					<a href="#top5" data-toggle="tab">
						<span class="hidden-xs">Top 5 i shoppen</span>
					</a>
				</li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane active" id="new">
					
					<ul class="xe-tab-list xe-list-imgs">
						<li>
							<span class="element-img"><img src="demo-images/learning-7-mini.jpg" alt="" /></span>
							<span class="element-title">Vores core-values</span>
							<span class="element-time">PDF 4 slides</span>
						</li>
						<li>
							<span class="element-img"><img src="demo-images/learning-4-mini.jpg" alt="" /></span>
							<span class="element-title">Vores naværende produkter</span>
							<span class="element-time">PDF 26 slides</span>
						</li>
						<li>
							<span class="element-img"><img src="demo-images/learning-5-mini.jpg" alt="" /></span>
							<span class="element-title">Mediabuying med Kasper</span>
							<span class="element-time">10 m. video</span>
						</li>
						<li>
							<span class="element-img"><img src="demo-images/learning-8-mini.jpg" alt="" /></span>
							<span class="element-title">Kundehåndtering: Introduktion</span>
							<span class="element-time">Kursus 1t. 30m.</span>
						</li>
						<li>
							<span class="element-img"><img src="demo-images/learning-12-mini.jpg" alt="" /></span>
							<span class="element-title">Social platforms med Ali</span>
							<span class="element-time">Video 15m.</span>
						</li>
						
					</ul>
					
				</div>
				<div class="tab-pane" id="top5">
					<ul class="xe-tab-list xe-list-imgs">
						<li>
							<span class="element-img"><img src="demo-images/learning-5-mini.jpg" alt="" /></span>
							<span class="element-title">Mediabuying med Kasper</span>
							<span class="element-time">10 m. video</span>
						</li>
						<li>
							<span class="element-img"><img src="demo-images/learning-7-mini.jpg" alt="" /></span>
							<span class="element-title">Vores core-values</span>
							<span class="element-time">PDF 4 slides</span>
						</li>
						<li>
							<span class="element-img"><img src="demo-images/learning-12-mini.jpg" alt="" /></span>
							<span class="element-title">Social platforms med Ali</span>
							<span class="element-time">Video 15m.</span>
						</li>
						<li>
							<span class="element-img"><img src="demo-images/learning-4-mini.jpg" alt="" /></span>
							<span class="element-title">Vores naværende produkter</span>
							<span class="element-time">PDF 26 slides</span>
						</li>
						<li>
							<span class="element-img"><img src="demo-images/learning-8-mini.jpg" alt="" /></span>
							<span class="element-title">Kundehåndtering: Introduktion</span>
							<span class="element-time">Kursus 1t. 30m.</span>
						</li>
						
					</ul>
						
				</div>
			</div>
			
			
		</div>
		<div class="col-md-6">
			<div id="results-kursus" class="panel panel-default no-padding">
				<div class="panel-heading">
					<h3>Resultater</h3>
				</div>
				<div class="panel-body">
					<ul class="xe-tab-list">
						<li class="gauge-item2">
							<span class="element-title">Din samlede score</span>
							
							<span class="element-time2">
								<div class="element-grauge2" id="eGauge_A" style="width:85px; height:75px"></div>
								 <span class="element-value">67%</span>
							</span>
<!--							<script type="text/javascript">
							jQuery(document).ready(function($){
								
								var percentage = 100*67/100;
								var Color = '#000000';
									
								if( percentage < 10 ){
									Color = '#e60000';
								}else if( percentage < 20 ){
									Color = '#e64100';
								}else if( percentage < 30 ){
									Color = '#ec6800';
								}else if( percentage < 40 ){
									Color = '#ecae00';
								}else if( percentage < 50 ){
									Color = '#ecf300';
								}else if( percentage < 60 ){
									Color = '#c6ff08';
								}else if( percentage < 70 ){
									Color = '#9dff4a';
								}else if( percentage < 80 ){
									Color = '#6be900';
								}else if( percentage < 90 ){
									Color = '#59c300';
								}else {
									Color = '#2dad00';
								}
							
								$('#eGauge_A').dxCircularGauge({
									scale: {
										startValue: 0,
										endValue: 100,
										majorTick: {
										  tickInterval: 100,
								          color: '#41444b',
								          length: 0
										},
										useRangeColors: true
									},
									rangeContainer: {
									   width: 4,
									}, 
									margin:{
										left: 0,
										right: 0,
										top: 0,
										bottom: 0
									},
									value: percentage,
									valueIndicator: {
										type: 'rangebar',
										color: Color,
								        offset: -4,
								        size:4
									}
								});
							});
							</script>							-->
						</li>
						<li class="gauge-item2">
							<span class="element-title">Opnåede point</span>
							<span class="element-time2">
								<div class="element-grauge2" id="eGauge_B" style="width:85px; height:75px"></div>
								 <span class="element-value">75 000</span>
							</span>
<!--							<script type="text/javascript">
							jQuery(document).ready(function($){
								
								var percentage = 100*75000/200000;
								var Color = '#000000';
									
								if( percentage < 10 ){
									Color = '#e60000';
								}else if( percentage < 20 ){
									Color = '#e64100';
								}else if( percentage < 30 ){
									Color = '#ec6800';
								}else if( percentage < 40 ){
									Color = '#ecae00';
								}else if( percentage < 50 ){
									Color = '#ecf300';
								}else if( percentage < 60 ){
									Color = '#c6ff08';
								}else if( percentage < 70 ){
									Color = '#9dff4a';
								}else if( percentage < 80 ){
									Color = '#6be900';
								}else if( percentage < 90 ){
									Color = '#59c300';
								}else {
									Color = '#2dad00';
								}
							
								$('#eGauge_B').dxCircularGauge({
									scale: {
										startValue: 0,
										endValue: 100,
										majorTick: {
										  tickInterval: 100,
								          color: '#41444b',
								          length: 0
										},
										useRangeColors: true
									},
									rangeContainer: {
									   width: 4,
									}, 
									margin:{
										left: 0,
										right: 0,
										top: 0,
										bottom: 0
									},
									value: percentage,
									valueIndicator: {
										type: 'rangebar',
										color: Color,
								        offset: -4,
								        size:4
									}
								});
							});
							</script>-->
						</li>
						<li class="gauge-item2">
							<span class="element-title">Leaderboard placering</span>
							
							<span class="element-time2">
								<div class="element-grauge2" id="eGauge_B" style="width:85px; height:75px"></div>
								 <span class="element-value">19</span>
							</span>
<!--							<script type="text/javascript">
							jQuery(document).ready(function($){
								
								var percentage = 100*19/94;
								var Color = '#000000';
									
								if( percentage < 10 ){
									Color = '#e60000';
								}else if( percentage < 20 ){
									Color = '#e64100';
								}else if( percentage < 30 ){
									Color = '#ec6800';
								}else if( percentage < 40 ){
									Color = '#ecae00';
								}else if( percentage < 50 ){
									Color = '#ecf300';
								}else if( percentage < 60 ){
									Color = '#c6ff08';
								}else if( percentage < 70 ){
									Color = '#9dff4a';
								}else if( percentage < 80 ){
									Color = '#6be900';
								}else if( percentage < 90 ){
									Color = '#59c300';
								}else {
									Color = '#2dad00';
								}
							
								$('#eGauge_B').dxCircularGauge({
									scale: {
										startValue: 0,
										endValue: 100,
										majorTick: {
										  tickInterval: 100,
								          color: '#41444b',
								          length: 0
										},
										useRangeColors: true
									},
									rangeContainer: {
									   width: 4,
									}, 
									margin:{
										left: 0,
										right: 0,
										top: 0,
										bottom: 0
									},
									value: percentage,
									valueIndicator: {
										type: 'rangebar',
										color: Color,
								        offset: -4,
								        size:4
									}
								});
							});
							</script>-->
						</li>
						<li class="gauge-item2">
							<span class="element-title">Opnåede certifikater</span>
							<span class="element-time2">
								<div class="element-grauge2" id="eGauge_D" style="width:85px; height:75px"></div>
								 <span class="element-value">2</span>
							</span>
<!--							<script type="text/javascript">
							jQuery(document).ready(function($){
								
								var percentage = 100*2/12;
								var Color = '#000000';
									
								if( percentage < 10 ){
									Color = '#e60000';
								}else if( percentage < 20 ){
									Color = '#e64100';
								}else if( percentage < 30 ){
									Color = '#ec6800';
								}else if( percentage < 40 ){
									Color = '#ecae00';
								}else if( percentage < 50 ){
									Color = '#ecf300';
								}else if( percentage < 60 ){
									Color = '#c6ff08';
								}else if( percentage < 70 ){
									Color = '#9dff4a';
								}else if( percentage < 80 ){
									Color = '#6be900';
								}else if( percentage < 90 ){
									Color = '#59c300';
								}else {
									Color = '#2dad00';
								}
							
								$('#eGauge_D').dxCircularGauge({
									scale: {
										startValue: 0,
										endValue: 100,
										majorTick: {
										  tickInterval: 100,
								          color: '#41444b',
								          length: 0
										},
										useRangeColors: true
									},
									rangeContainer: {
									   width: 4,
									}, 
									margin:{
										left: 0,
										right: 0,
										top: 0,
										bottom: 0
									},
									value: percentage,
									valueIndicator: {
										type: 'rangebar',
										color: Color,
								        offset: -4,
								        size:4
									}
								});
							});
							</script>-->
						</li>
						<li class="gauge-item2">
							<span class="element-title">Gennemførelses %</span>
							<span class="element-time2">
								<div class="element-grauge2" id="eGauge_E" style="width:85px; height:75px"></div>
								 <span class="element-value">72%</span>
							</span>
<!--							<script type="text/javascript">
							jQuery(document).ready(function($){
								
								var percentage = 100*72/100;
								var Color = '#000000';
									
								if( percentage < 10 ){
									Color = '#e60000';
								}else if( percentage < 20 ){
									Color = '#e64100';
								}else if( percentage < 30 ){
									Color = '#ec6800';
								}else if( percentage < 40 ){
									Color = '#ecae00';
								}else if( percentage < 50 ){
									Color = '#ecf300';
								}else if( percentage < 60 ){
									Color = '#c6ff08';
								}else if( percentage < 70 ){
									Color = '#9dff4a';
								}else if( percentage < 80 ){
									Color = '#6be900';
								}else if( percentage < 90 ){
									Color = '#59c300';
								}else {
									Color = '#2dad00';
								}
							
								$('#eGauge_E').dxCircularGauge({
									scale: {
										startValue: 0,
										endValue: 100,
										majorTick: {
										  tickInterval: 100,
								          color: '#41444b',
								          length: 0
										},
										useRangeColors: true
									},
									rangeContainer: {
									   width: 4,
									}, 
									margin:{
										left: 0,
										right: 0,
										top: 0,
										bottom: 0
									},
									value: percentage,
									valueIndicator: {
										type: 'rangebar',
										color: Color,
								        offset: -4,
								        size:4
									}
								});
							});
							</script>-->
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>