<div class="row" ui-view>
	<div class="col-md-8">
		<tabset>
			<tab heading="Kurser">
				<div class="panel">
					<div class="org-controlers">
						<div class="left-side">
							<h3>Kurser</h3>
							<div class="org-controlers-search">
								<i class="fa fa-search"></i>
								<input ng-model="searchKey" placeholder="Søg på kursus navn" class="" />
							</div>
						</div>
						<div class="right-side">
							<a ui-sref="app.learning.courseslist.new" class="btn btn-half btn-blue">Opret Kursus</a>
						</div>
					</div>
					<table id="courses-list" class="table dataTable" cellspacing="0" width="100%">
						<colgroup>
							<col width="65%"></col>
							<col width="15%"></col>
							<col width="15%"></col>
							<col width="5%"></col>
						</colgroup>
					
						<thead>
							<tr>
								<th>Kursus Navn</th>
								<th>Kategori</th>
								<th>Aktiv</th>
								<th></th>
							</tr>
						</thead>
					
						<tfoot>
							<tr>
								<th>Kursus Navn</th>
								<th>Kategori</th>
								<th>Ikke Aktiv</th>
								<th></th>
							</tr>
						</tfoot>
					
						<tbody>
							<tr ng-repeat="course in courses | filter:searchKey">
								<td>{{ course.name }}</td>
								<td>-</td>
								<td>{{ course.is_active ? "Aktiv" : "Ikke Aktiv" }}</td>
								<td class="action-links">
									<a ng-href="#/app/learning/courseslist/edit-{{ course.id }}" class="edit">
										<i class="fa-pencil"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="org-controlers">
						<div class="right-side">
							<a ui-sref="app.learning.courseslist.new" class="btn btn-half btn-blue">Opret Kursus</a>
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
	<div class="col-md-4" style="padding-bottom: 30px;">
	
		<div class="panel panel-default no-padding">
			<div class="panel-heading">
				<h3>Kurser set for nylig</h3>
			</div>
			<div class="panel-body">
				<ul class="xe-tab-list">
					<li>
						<span class="element-title">Gør din strategi flexibel</span>
						<span class="element-time">
							<i class="fa fa-angle-right"></i>
							<span class="element-value">i dag</span>
						</span>								
					</li>
					<li>
						<span class="element-title">Kom godt i gang</span>
						<span class="element-time">
							<i class="fa fa-angle-right"></i>
							<span class="element-value">for 2 dage siden</span>
						</span>
					</li>
					<li>
						<span class="element-title">Kend dine konkurrenter</span>
						<span class="element-time">
							<i class="fa fa-angle-right"></i>
							<span class="element-value">for 4 dage siden</span>
						</span>
					</li>
					<li>
						<span class="element-title">Vores nuværende produkter</span>
						<span class="element-time">
							<i class="fa fa-angle-right"></i>
							<span class="element-value">for 7 dage siden</span>
						</span>
					</li>
					
				</ul>
			</div>
		</div>

	</div>
</div>