<!--<div class="panel-heading">
	<h3 class="panel-title">Repetto - The Dance of the Snowflakes</h3>
	<p>Melissa Hamilton presents a demo video of her dancing in the snowflakes.</p>
</div>
<div class="panel-body" style="height: 520px;">
	<iframe src="//player.vimeo.com/video/113950510?color=edf1f2" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>-->

<!--<div class="panel-heading">
	<h3 class="panel-title">Spørgsmål : Repetto - The Dance of the Snowflakes</h3>
	<p>1 spørgsmål</p>
</div>
<div class="panel-body questions" style="height: 400px;">
	<span class="question-number">Spørgsmål 1 ud af 1</span>
	<h2>What is the name of the dance?</h2>
	
	<div class="radio">
		<label>
			<input type="radio" class="cbr" name="radio-1">
			Paquita
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" class="cbr" name="radio-1" checked>
			La danse des flocons
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" class="cbr" name="radio-1">
			Gisselle
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" class="cbr" name="radio-1">
			Serenade
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" class="cbr" name="radio-1">
			La Sylphide
		</label>
	</div>
	
	<div class="col-md-4 col-md-offset-2">
		<button class="btn btn-full btn-transparent">Forrige Spørgsmål</button>
	</div>
	<div class="col-md-4">
		<button type="submit" class="btn btn-full btn-blue">Næste Spørgsmål</button>
	</div>
</div>-->

<!--<div class="panel-heading">
	<h3 class="panel-title">Winter in Yosemite National Park</h3>
	<p>Short presentation of the Yosemite National Park during winter.</p>
</div>
<div class="panel-body" style="height: 520px;">
	<iframe src="//player.vimeo.com/video/18832992?color=edf1f2" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>-->


<!--<div class="panel-heading">
	<h3 class="panel-title">Spørgsmål : Repetto - Winter in Yosemite National Park</h3>
	<p>1 spørgsmål</p>
</div>
<div class="panel-body questions">
	<span class="question-number">Spørgsmål 1 ud af 1</span>
	<h2>Would you like to visit the Yosemite National Park with the company?</h2>
	
	<textarea class="col-md-12" rows="6"></textarea>
</div>-->

<div class="panel-heading">
	<h3 class="panel-title">Powerpoint: Stil skarpt på din salgsproces</h3>
	<p>17 slides i alt</p>
</div>
<div class="panel-body" style="height: 600px;">
	<iframe src="//www.slideshare.net/slideshow/embed_code/44157375" width="100%" height="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
</div>

<!--<div class="panel-heading">
	<h3 class="panel-title">Powerpoint: Stil skarpt på din salgsproces</h3>
	<p>17 slides i alt</p>
</div>
<div class="panel-body" style="height: 600px;">
	<iframe src="//www.slideshare.net/slideshow/embed_code/42766059" width="100%" height="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
</div>-->

<!--<div class="panel-heading">
	<h3 class="panel-title">Introduction</h3>
	<p>eloomi presentation</p>
</div>
<div class="panel-body download-files">
	<div class="df-half">
	<h2>Hent vores brand guidelines og tilhørende design elementer</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<p class="italic">- Totam rem aperiam<br/>
	- Taque ipsa quae ab illo inventore<br/>
	- Beatae vitae dicta sunt explicabo</p>
	</div>
	
	<div class="df-half">
		<img src="http://info.communispond.com/Portals/159268/images/dv1221059.jpg" alt="" />
	</div>
</div>-->