<script type="text/ng-template" id="ask-leader">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h3 class="modal-title">Course name</h3>
	</div>
	
	<div class="modal-body">
		<p>Are you sure you want to order this course?</p>	
	</div>
	
	<div class="modal-footer">
		<div class="modal-btn-center">
			<button type="button" class="btn btn-small btn-transparent" ng-click="currentModal.close();">Nej</button>
			<button type="button" class="btn btn-small btn-blue" ng-click="currentModal.dismiss();">Ja</button>
		</div>
	</div>
</script>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Muligheder og forslag til at forbedre dig</h3>
		<p>Udvalgte kurser der kan booste dine point og leaderboard placering</p>
	</div>
	
<div class="panel-body">
	
<div class="row">

	<div class="col-sm-3">
		<div class="xe-widget xe-single-news xe-single-news-locked">
			<div class="xe-image">
				<img class="img-responsive" src="demo-images/learning-1.jpg">
				<span class="xe-gradient"></span>
			</div>
			<div class="xe-deadline">
				<span>Kursus låst</span>
			</div>
			
			<div class="xe-relink">
				<button ng-click="openModal('ask-leader', 'sm')">Anmod om kursus</button>
			</div>
			<div class="xe-details">
				<h3>
					Gør din strategi flexibel
				</h3>
				<div class="category">
					Kursus 1 t. 20 m.
				</div>
				<time style="background: transparent;">
					&nbsp;
				</time>
			</div>
		</div>
	</div>
					
	<div class="col-sm-3">
		<div class="xe-widget xe-single-news xe-single-news-locked">
			<div class="xe-image">
				<img class="img-responsive" src="demo-images/learning-2.jpg">
				<span class="xe-gradient"></span>
			</div>
			<div class="xe-deadline">
				<span>Kursus låst</span>
			</div>
			
			<div class="xe-relink">
				<button ng-click="openModal('ask-leader', 'sm')">Anmod om kursus</button>
			</div>
			<div class="xe-details">
				<h3>
					Kom godt i gang
				</h3>
				<div class="category">
					Introductionsvideo 15 m.
				</div>
				<time style="background: transparent;">
					&nbsp;
				</time>
			</div>
		</div>
	</div>
	
	<div class="col-sm-3">
		<div class="xe-widget xe-single-news xe-single-news-locked">
			<div class="xe-image">
				<img class="img-responsive" src="demo-images/learning-3.jpg">
				<span class="xe-gradient"></span>
			</div>
			<div class="xe-deadline">
				<span>Kursus låst</span>
			</div>
			
			<div class="xe-relink">
				<button ng-click="openModal('ask-leader', 'sm')">Anmod om kursus</button>
			</div>
			<div class="xe-details">
				<h3>
					Salgstips med Marie
				</h3>
				<div class="category">
					Kursus 1 t. 45 m.
				</div>
				<time style="background: transparent;">
					&nbsp;
				</time>
			</div>
		</div>
	</div>
	
	<div class="col-sm-3">
		<div class="xe-widget xe-single-news xe-single-news-locked">
			<div class="xe-image">
				<img class="img-responsive" src="demo-images/learning-4.jpg">
				<span class="xe-gradient"></span>
			</div>
			<div class="xe-deadline">
				<span>Kursus låst</span>
			</div>
			
			<div class="xe-relink">
				<button ng-click="openModal('ask-leader', 'sm')">Anmod om kursus</button>
			</div>
			
			<div class="xe-details">
				<h3>
					Vores nuværende produketer
				</h3>
				<div class="category">
					PDF 26 slides
				</div>
				<time style="background: transparent;">
					&nbsp;
				</time>
			</div>
		</div>
	</div>
	
</div>

<div class="row">

	<div class="col-sm-3">
		<div class="xe-widget xe-single-news xe-single-news-locked">
			<div class="xe-image">
				<img class="img-responsive" src="demo-images/learning-6.jpg">
				<span class="xe-gradient"></span>
			</div>
			<div class="xe-deadline">
				<span>Kursus låst</span>
			</div>
			
			<div class="xe-relink">
				<button ng-click="openModal('ask-leader', 'sm')">Anmod om kursus</button>
			</div>
			<div class="xe-details">
				<h3>
					Anno 2015 Markedsanalyse
				</h3>
				<div class="category">
					Kursus 45 m.
				</div>
				<time style="background: transparent;">
					&nbsp;
				</time>
			</div>
		</div>
	</div>
	
	<div class="col-sm-3">
		<div class="xe-widget xe-single-news xe-single-news-locked">
			<div class="xe-image">
				<img class="img-responsive" src="demo-images/learning-5.jpg">
				<span class="xe-gradient"></span>
			</div>
			<div class="xe-deadline">
				<span>Kursus låst</span>
			</div>
			
			<div class="xe-relink">
				<button ng-click="openModal('ask-leader', 'sm')">Anmod om kursus</button>
			</div>
			<div class="xe-details">
				<h3>
					Mediabuying med Kasper
				</h3>
				<div class="category">
					10 m. video
				</div>
				<time style="background: transparent;">
					&nbsp;
				</time>
			</div>
		</div>
	</div>
	
	<div class="col-sm-3">
			<div class="xe-widget xe-single-news xe-single-news-locked">
				<div class="xe-image">
					<img class="img-responsive" src="demo-images/learning-7.jpg">
					<span class="xe-gradient"></span>
				</div>
				<div class="xe-deadline">
					<span>Kursus låst</span>
				</div>
				
				<div class="xe-relink">
					<button ng-click="openModal('ask-leader', 'sm')">Anmod om kursus</button>
				</div>
				<div class="xe-details">
					<h3>
						Vores core-values
					</h3>
					<div class="category">
						PDF 4 slides
					</div>
					<time style="background: transparent;">
						&nbsp;
					</time>
				</div>
			</div>
		</div>
		
	<div class="col-sm-3">
			<div class="xe-widget xe-single-news xe-single-news-locked">
				<div class="xe-image">
					<img class="img-responsive" src="demo-images/learning-11.jpg">
					<span class="xe-gradient"></span>
				</div>
				<div class="xe-deadline">
					<span>Kursus låst</span>
				</div>
				
				<div class="xe-relink">
					<button ng-click="openModal('ask-leader', 'sm')">Anmod om kursus</button>
				</div>
				<div class="xe-details">
					<h3>
						Kend dine konkurrenter
					</h3>
					<div class="category">
						Kursus 2 t. 30 m.
					</div>
					<time style="background: transparent;">
						&nbsp;
					</time>
				</div>
			</div>
		</div>
	
</div>

<div class="row">

	<div class="col-sm-3">
		<div class="xe-widget xe-single-news xe-single-news-locked">
			<div class="xe-image">
				<img class="img-responsive" src="demo-images/learning-9.jpg">
				<span class="xe-gradient"></span>
			</div>
			<div class="xe-deadline">
				<span>Kursus låst</span>
			</div>
			
			<div class="xe-relink">
				<button ng-click="openModal('ask-leader', 'sm')">Anmod om kursus</button>
			</div>
			<div class="xe-details">
				<h3>
					Kursusvideo om Do's and Dont's som telefonælger
				</h3>
				<div class="category">
					Kursus 1 t.
				</div>
				<time style="background: transparent;">
					&nbsp;
				</time>
			</div>
		</div>
	</div>
	
	<div class="col-sm-3">
		<div class="xe-widget xe-single-news xe-single-news-locked">
			<div class="xe-image">
				<img class="img-responsive" src="demo-images/learning-10.jpg">
				<span class="xe-gradient"></span>
			</div>
			<div class="xe-deadline">
				<span>Kursus låst</span>
			</div>
			
			<div class="xe-relink">
				<button ng-click="openModal('ask-leader', 'sm')">Anmod om kursus</button>
			</div>
			<div class="xe-details">
				<h3>
					Brand identitet og guidelines
				</h3>
				<div class="category">
					Powerpoint 17 slides
				</div>
				<time style="background: transparent;">
					&nbsp;
				</time>
			</div>
		</div>
	</div>
	
	<div class="col-sm-3">
		<div class="xe-widget xe-single-news xe-single-news-locked">
			<div class="xe-image">
				<img class="img-responsive" src="demo-images/learning-8.jpg">
				<span class="xe-gradient"></span>
			</div>
			<div class="xe-deadline">
				<span>Kursus låst</span>
			</div>
			
			<div class="xe-relink">
				<button ng-click="openModal('ask-leader', 'sm')">Anmod om kursus</button>
			</div>
			<div class="xe-details">
				<h3>
					Kundehåndtering: Introduktion
				</h3>
				<div class="category">
					Kursus 1 t. 30 m.
				</div>
				<time style="background: transparent;">
					&nbsp;
				</time>
			</div>
		</div>
	</div>
	
	<div class="col-sm-3">
		<div class="xe-widget xe-single-news xe-single-news-locked">
			<div class="xe-image">
				<img class="img-responsive" src="demo-images/learning-12.jpg">
				<span class="xe-gradient"></span>
			</div>
			<div class="xe-deadline">
				<span>Kursus låst</span>
			</div>
			
			<div class="xe-relink">
				<button ng-click="openModal('ask-leader', 'sm')">Anmod om kursus</button>
			</div>
			<div class="xe-details">
				<h3>
					Social platforms med Jon
				</h3>
				<div class="category">
					Introductionsvideo 15 m.
				</div>
				<time style="background: transparent;">
					&nbsp;
				</time>
			</div>
		</div>
	</div>
	
</div>

<div class="row">
	<ul class="pagination pagination-sm eCentrated">
		<li>
			<a href="" ng-click="openModal('ask-leader', 'sm');">1</a>
		</li>
		<li class="active">
			<a href="" ng-click="openModal('ask-leader', 'sm');">2</a>
		</li>
		<li>
			<a href="" ng-click="openModal('ask-leader', 'sm');">3</a>
		</li>
	</ul>
</div>
	
	</div>
</div>