<div class="row">
	<div class="col-md-10 col-md-offset-1">

		<div class="panel panel-default modul" ui-view>
			<div class="panel-heading">
				<h3 class="panel-title">Gør din strategi fleksibel</h3>
				<p>Torsten Fjeldgaard forklarer hvordan en fleksibel salgsstrategi - kan fremme både nuværende og potentielle kunder.</p>
			</div>
			<div class="panel-body">
			
				<div class="col-md-10 col-md-offset-1">
					<ul class="view-modules">
						<li><a href="#" class="finnished"><i class="fa fa-check-square-o"></i><span>Introduction</span></a></a></li>
						<li><a href="#/app/learning/courses/view-1/module" class="allow next"><i class="fa fa-square-o"></i><span>Watch "Repetto - The Dance of the Snowflakes"</span></a></li>
						<li><a href="#" class="blocked"><i class="fa fa-square-o"></i><span>Survey: Repetto - The Dance of the Snowflakes</span></a></li>
						<li><a href="#" class="blocked"><i class="fa fa-square-o"></i><span>Watch "Winter in Yosemite National Park"</span></a></li>
						<li><a href="#" class="blocked"><i class="fa fa-square-o"></i><span>Survey: Winter in Yosemite National Park</span></a></li>
					</ul>
				</div>
				<div class="org-controlers">
					<div class="right-side">
						<a ng-ref="#" class="btn btn-half btn-transparent blocked">
							<i class="fa-lock"></i>
							Certifikater
						</a>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
</div>