<div class="row">
				<div class="col-md-4">
					<tabset>
						<tab heading="Notifikationer">
							<ul class="xe-tab-list">
								<li>
									<span class="element-title">Kurset "Vindende tilbud" udløber om 1 dag </span>
									<span class="element-time">1h</span>
								</li>
								<li>
									<span class="element-title">Du har fået 100 point til leaderboardet</span>
									<span class="element-time">18d</span>
								</li>
								<li>
									<span class="element-title">Kurset "Introduktion til salget" er gennemført</span>
									<span class="element-time">18d</span>
								</li>
								<li>
									<span class="element-title">Du er tildelt kurset "Introduktion til salget"</span>
									<span class="element-time">24d</span>
								</li>
								<li>
									<span class="element-title">Du er nu nummer 19 på leaderboardet</span>
									<span class="element-time">30d</span>
								</li>
							</ul>
						</tab>
						<tab heading="Din aktiviteter">
							<ul class="xe-tab-list">
								<li>
									<i class="fa-calendar"></i>
									<span class="element-title">Event canceled</span>
									<span class="element-time">i dag</span>
								</li>
								<li>
									<i class="fa-database"></i>
									<span class="element-title">Database status</span>
									<span class="element-time">1 dag</span>
								</li>
								<li>
									<i class="fa-lock"></i>
									<span class="element-title">Updated settings</span>
									<span class="element-time">2 dage</span>
								</li>
								<li>
									<i class="fa-cloud-download"></i>
									<span class="element-title">System full backup</span>
									<span class="element-time">2 dage</span>
								</li>
								<li>
									<i class="fa-users"></i>
									<span class="element-title">New users added</span>
									<span class="element-time">3 dage</span>
								</li>
							</ul>
						</tab>
					</tabset>
				</div>
				
				<div class="col-md-4">
					<div id="results" class="panel panel-default no-padding">
						<div class="panel-heading">
							<h3>Resultater</h3>
						</div>
						<div class="panel-body">
							<ul class="xe-tab-list">
								<li class="gauge-item active" data-title="Din samlede score" data-val="67" data-max="100">
									<span class="element-title">Din samlede score</span>
									
									<span class="element-time">
										<div class="element-grauge" id="eGauge_1" style="width:85px; height:75px"></div>
										 <span class="element-value">67%</span>
									</span>
									<script type="text/javascript">
									jQuery(document).ready(function($){
										
										var percentage = 100*67/100;
										var Color = '#000000';
											
										if( percentage < 10 ){
											Color = '#e60000';
										}else if( percentage < 20 ){
											Color = '#e64100';
										}else if( percentage < 30 ){
											Color = '#ec6800';
										}else if( percentage < 40 ){
											Color = '#ecae00';
										}else if( percentage < 50 ){
											Color = '#ecf300';
										}else if( percentage < 60 ){
											Color = '#c6ff08';
										}else if( percentage < 70 ){
											Color = '#9dff4a';
										}else if( percentage < 80 ){
											Color = '#6be900';
										}else if( percentage < 90 ){
											Color = '#59c300';
										}else {
											Color = '#2dad00';
										}
									
										$('#eGauge_1').dxCircularGauge({
											scale: {
												startValue: 0,
												endValue: 100,
												majorTick: {
												  tickInterval: 100,
										          color: '#41444b',
										          length: 0
												},
												useRangeColors: true
											},
											rangeContainer: {
											   width: 4,
											}, 
											margin:{
												left: 0,
												right: 0,
												top: 0,
												bottom: 0
											},
											value: percentage,
											valueIndicator: {
												type: 'rangebar',
												color: Color,
										        offset: -4,
										        size:4
											}
										});
									});
									</script>
									<div class="marker"></div>									
								</li>
								<li class="gauge-item" data-title="Opnåede point" data-val="75000" data-max="200000">
									<span class="element-title">Opnåede point</span>
									<span class="element-time">
										<div class="element-grauge" id="eGauge_2" style="width:85px; height:75px"></div>
										 <span class="element-value">75 000</span>
									</span>
									<script type="text/javascript">
									jQuery(document).ready(function($){
										
										var percentage = 100*75000/200000;
										var Color = '#000000';
											
										if( percentage < 10 ){
											Color = '#e60000';
										}else if( percentage < 20 ){
											Color = '#e64100';
										}else if( percentage < 30 ){
											Color = '#ec6800';
										}else if( percentage < 40 ){
											Color = '#ecae00';
										}else if( percentage < 50 ){
											Color = '#ecf300';
										}else if( percentage < 60 ){
											Color = '#c6ff08';
										}else if( percentage < 70 ){
											Color = '#9dff4a';
										}else if( percentage < 80 ){
											Color = '#6be900';
										}else if( percentage < 90 ){
											Color = '#59c300';
										}else {
											Color = '#2dad00';
										}
									
										$('#eGauge_2').dxCircularGauge({
											scale: {
												startValue: 0,
												endValue: 100,
												majorTick: {
												  tickInterval: 100,
										          color: '#41444b',
										          length: 0
												},
												useRangeColors: true
											},
											rangeContainer: {
											   width: 4,
											}, 
											margin:{
												left: 0,
												right: 0,
												top: 0,
												bottom: 0
											},
											value: percentage,
											valueIndicator: {
												type: 'rangebar',
												color: Color,
										        offset: -4,
										        size:4
											}
										});
									});
									</script>
								</li>
								<li class="gauge-item" data-title="Leaderboard placering" data-val="19" data-max="94">
									<span class="element-title">Leaderboard placering</span>
									
									<span class="element-time">
										<div class="element-grauge" id="eGauge_3" style="width:85px; height:75px"></div>
										 <span class="element-value">19</span>
									</span>
									<script type="text/javascript">
									jQuery(document).ready(function($){
										
										var percentage = 100*19/94;
										var Color = '#000000';
											
										if( percentage < 10 ){
											Color = '#e60000';
										}else if( percentage < 20 ){
											Color = '#e64100';
										}else if( percentage < 30 ){
											Color = '#ec6800';
										}else if( percentage < 40 ){
											Color = '#ecae00';
										}else if( percentage < 50 ){
											Color = '#ecf300';
										}else if( percentage < 60 ){
											Color = '#c6ff08';
										}else if( percentage < 70 ){
											Color = '#9dff4a';
										}else if( percentage < 80 ){
											Color = '#6be900';
										}else if( percentage < 90 ){
											Color = '#59c300';
										}else {
											Color = '#2dad00';
										}
									
										$('#eGauge_3').dxCircularGauge({
											scale: {
												startValue: 0,
												endValue: 100,
												majorTick: {
												  tickInterval: 100,
										          color: '#41444b',
										          length: 0
												},
												useRangeColors: true
											},
											rangeContainer: {
											   width: 4,
											}, 
											margin:{
												left: 0,
												right: 0,
												top: 0,
												bottom: 0
											},
											value: percentage,
											valueIndicator: {
												type: 'rangebar',
												color: Color,
										        offset: -4,
										        size:4
											}
										});
									});
									</script>
								</li>
								<li class="gauge-item" data-title="Opnåede certifikater" data-val="2" data-max="12">
									<span class="element-title">Opnåede certifikater</span>
									<span class="element-time">
										<div class="element-grauge" id="eGauge_4" style="width:85px; height:75px"></div>
										 <span class="element-value">2</span>
									</span>
									<script type="text/javascript">
									jQuery(document).ready(function($){
										
										var percentage = 100*2/12;
										var Color = '#000000';
											
										if( percentage < 10 ){
											Color = '#e60000';
										}else if( percentage < 20 ){
											Color = '#e64100';
										}else if( percentage < 30 ){
											Color = '#ec6800';
										}else if( percentage < 40 ){
											Color = '#ecae00';
										}else if( percentage < 50 ){
											Color = '#ecf300';
										}else if( percentage < 60 ){
											Color = '#c6ff08';
										}else if( percentage < 70 ){
											Color = '#9dff4a';
										}else if( percentage < 80 ){
											Color = '#6be900';
										}else if( percentage < 90 ){
											Color = '#59c300';
										}else {
											Color = '#2dad00';
										}
									
										$('#eGauge_4').dxCircularGauge({
											scale: {
												startValue: 0,
												endValue: 100,
												majorTick: {
												  tickInterval: 100,
										          color: '#41444b',
										          length: 0
												},
												useRangeColors: true
											},
											rangeContainer: {
											   width: 4,
											}, 
											margin:{
												left: 0,
												right: 0,
												top: 0,
												bottom: 0
											},
											value: percentage,
											valueIndicator: {
												type: 'rangebar',
												color: Color,
										        offset: -4,
										        size:4
											}
										});
									});
									</script>
								</li>
								<li class="gauge-item" data-title="Gennemførelses %" data-val="72" data-max="100">
									<span class="element-title">Gennemførelses %</span>
									<span class="element-time">
										<div class="element-grauge" id="eGauge_5" style="width:85px; height:75px"></div>
										 <span class="element-value">72%</span>
									</span>
									<script type="text/javascript">
									jQuery(document).ready(function($){
										
										var percentage = 100*72/100;
										var Color = '#000000';
											
										if( percentage < 10 ){
											Color = '#e60000';
										}else if( percentage < 20 ){
											Color = '#e64100';
										}else if( percentage < 30 ){
											Color = '#ec6800';
										}else if( percentage < 40 ){
											Color = '#ecae00';
										}else if( percentage < 50 ){
											Color = '#ecf300';
										}else if( percentage < 60 ){
											Color = '#c6ff08';
										}else if( percentage < 70 ){
											Color = '#9dff4a';
										}else if( percentage < 80 ){
											Color = '#6be900';
										}else if( percentage < 90 ){
											Color = '#59c300';
										}else {
											Color = '#2dad00';
										}
									
										$('#eGauge_5').dxCircularGauge({
											scale: {
												startValue: 0,
												endValue: 100,
												majorTick: {
												  tickInterval: 100,
										          color: '#41444b',
										          length: 0
												},
												useRangeColors: true
											},
											rangeContainer: {
											   width: 4,
											}, 
											margin:{
												left: 0,
												right: 0,
												top: 0,
												bottom: 0
											},
											value: percentage,
											valueIndicator: {
												type: 'rangebar',
												color: Color,
										        offset: -4,
										        size:4
											}
										});
									});
									</script>
								</li>
							</ul>
						</div>
					</div>
				</div>
					
	
				<div class="col-md-4" style="position: relative;">
					<div id="big-gauge0" class="BigGaugeDashboad"></div>
					
					<div id="big-gauge-info">
						<h4>Din samlede score</h4>
						<h2>67%</h2>
					</div>
					
					<script type="text/javascript">
					jQuery(document).ready(function($){	
						$('.BigGaugeDashboad').dxCircularGauge({
							scale: {
								startValue: 0,
								endValue: 100,
								majorTick: {
									tickInterval: 25,
						          color: '#41444b',
						          length: 10
								},
								useRangeColors: true
							},	
							rangeContainer: {
						        width: 10,       
								ranges: [
						          { startValue: 0, endValue: 100, color: '#dcdcdc' }
								]
							},
							value: 58,
							valueIndicator: {
								type: 'rangebar',
								color: '#97d42e',
						        offset: -10
							}
						});
					});
					</script>
					
				</div>
			</div>		
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Muligheder og forslag til at forbedre dig</h3>
					<p>Udvalgte kurser der kan booste dine point og leaderboard placering</p>
				</div>
				<div class="panel-body">
				
			<div class="row">
			
				<div class="col-sm-3">
					<a ng-href="#/app/learning/courses/view-1">
					<div class="xe-widget xe-single-news">
						<div class="xe-image">
							<img class="img-responsive" src="demo-images/learning-1.jpg">
							<span class="xe-gradient"></span>
						</div>
						<div class="xe-deadline">
							<span>Udløber om 5 dage</span>
						</div>
						<div class="xe-details">
							<h3>
								Vindende tilbud
							</h3>
							<div class="category">
								Kursus 1 t. 20 m.
							</div>
							<time>
								<div style="width: 20%;">&nbsp;</div>
								<span style="left: 20%; margin-left: 6px;">20%</span>
							</time>
						</div>
					</div>
					</a>
				</div>
				
				<div class="col-sm-3">
					<a ng-href="#/app/learning/courses/view-1">
					<div class="xe-widget xe-single-news">
						<div class="xe-image">
							<img class="img-responsive" src="demo-images/learning-2.jpg">
							<span class="xe-gradient"></span>
						</div>
						<div class="xe-details">
							<h3>
								Introduktion til salget
							</h3>
							<div class="category">
								Introductionsvideo 15 m.
							</div>
							<time>
								<div style="width: 50%;">&nbsp;</div>
								<span style="left: 50%; margin-left: 6px;">50%</span>
							</time>
						</div>
					</div>
					</a>
				</div>
				
				<div class="col-sm-3">
					<a ng-href="#/app/learning/courses/view-2">
					<div class="xe-widget xe-single-news">
						<div class="xe-image">
							<img class="img-responsive" src="demo-images/learning-11.jpg">
							<span class="xe-gradient"></span>
						</div>
						<div class="xe-details">
							<h3>
								Salgets matematik
							</h3>
							<div class="category">
								Kursus 2 t. 30 m.
							</div>
							<time>
								<div style="width: 80%;">&nbsp;</div>
								<span style="left: 80%; margin-left: -30px; color: #eeeeee;">80%</span>
							</time>
						</div>
					</div>
					</a>
				</div>
				
				<div class="col-sm-3">
					<a ng-href="#/app/learning/courses/view-2">
					<div class="xe-widget xe-single-news">
						<div class="xe-image">
							<img class="img-responsive" src="demo-images/learning-3.jpg">
							<span class="xe-gradient"></span>
						</div>
						<div class="xe-details">
							<h3>
								Præsentation
							</h3>
							<div class="category">
								Kursus 1 t. 45 m.
							</div>
							<time>
								<div style="width: 90%;">&nbsp;</div>
								<span style="left: 90%; margin-left: -30px; color: #eeeeee;">90%</span>
							</time>
						</div>
					</div>
					</a>
				</div>
				
			</div>
				
			</div>
			
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Du ligger nr.19 på leaderboardet</h3>
					<p>Du mangler 460 point for at komme på 1. pladsen</p>
				</div>
				

				<div class="panel-body">
						
				<div class="row">
					<div class="col-sm-9">
					
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									if( ! $.isFunction($.fn.dxChart))
										return;
										
								var dataSource = [
									{ date: 'Nov 2013', person1: 540, person2: 0, person3: 340, person4: 300, person5: 320, person6: 460 },
									{ date: 'Dec 2013', person1: 240, person2: 160, person3: 320, person4: 300, person5: 220, person6: 420 },
									{ date: 'Jan 2014', person1: 460, person2: 360, person3: 320, person4: 380, person5: 420, person6: 500 },
									{ date: 'Feb 2014', person1: 500, person2: 460, person3: 320, person4: 320, person5: 460, person6: 320 },
									{ date: 'Mar 2014', person1: 380, person2: 420, person3: 300, person4: 340, person5: 400, person6: 260 },
									{ date: 'Apr 2014', person1: 480, person2: 440, person3: 320, person4: 340, person5: 320, person6: 240 },
									{ date: 'Maj 2014', person1: 260, person2: 420, person3: 320, person4: 340, person5: 500, person6: 200 },
									{ date: 'Jun 2014', person1: 140, person2: 460, person3: 360, person4: 320, person5: 300, person6: 180 },
									{ date: 'Jul 2014', person1: 420, person2: 400, person3: 320, person4: 380, person5: 420, person6: 340 },
									{ date: 'Aug 2014', person1: 360, person2: 320, person3: 320, person4: 320, person5: 320, person6: 60 },
									{ date: 'Sep 2014', person1: 380, person2: 480, person3: 320, person4: 300, person5: 440, person6: 160 },
									{ date: 'Okt 2014', person1: 400, person2: 400, person3: 340, person4: 380, person5: 480, person6: 180 },
									{ date: 'Nov 2014', person1: 380, person2: 420, person3: 320, person4: 340, person5: 360, person6: 140 },
									{ date: 'Dec 2014', person1: 460, person2: 460, person3: 320, person4: 360, person5: 380, person6: 80 },
									{ date: 'Jan 2015', person1: 580, person2: 460, person3: 320, person4: 300, person5: 220, person6: 120 }
								];
									
									$("#bar-3").dxChart({
										dataSource: dataSource,
										commonSeriesSettings: {
											argumentField: "date",
											sizeField: 2,
											width: 1,
											point: {
												size: 8
											},
											hoverStyle: {
												width: 2.5
											}
										},
										series: [
											{ valueField: "person1", name: "Klaus Skytte", color: "#ace563" },
											{ valueField: "person2", name: "Kenneth Jensen", color: "#441163" },
											{ valueField: "person3", name: "Razvan Morut", color: "#eb212e" },
											{ valueField: "person4", name: "Joachim Rosenstand", color: "#00afec" },
											{ valueField: "person5", name: "Kasper Justesen", color: "#ea148c" },
											{ valueField: "person6", name: "Rick Marker", color: "#f59331" }
										],
										argumentAxis:{
											grid:{
												visible: true
											}
										},
										tooltip:{
											enabled: true
										},
										title: "",
										legend: {
											verticalAlignment: "bottom",
											horizontalAlignment: "center",
										},
										commonPaneSettings: {
											border:{
												visible: true,
												right: true
											}	   
										}
									});
								});
							</script>
							<div id="bar-3" style="height: 500px; width: 100%;"></div>
					</div>
					<div class="col-sm-3">
						<div class="xe-user-profile">
							<div class="xe-up-thumb">
								<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/2/005/09a/219/07bacf3.jpg" class="img-responsive img-circle" style="background-color: #ace563;"/>
								<span style="background-color: #ace563;">1</span>
							</div>
							<div class="xe-up-details">
								<h4 style="color: #ace563;">Klauss Skytte</h4>
								<p>580 point</p>
								<p>12 kurser</p>
							</div>
						</div>
						<div class="xe-user-profile">
							<div class="xe-up-thumb">
								<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/2/005/062/02b/24aa825.jpg" class="img-responsive img-circle" style="background-color: #441163;"/>
								<span style="background-color: #441163;">2</span>
							</div>
							<div class="xe-up-details">
								<h4 style="color: #441163;">Kenneth Jensen</h4>
								<p>460 point</p>
								<p>10 kurser</p>
							</div>
						</div>
						<div class="xe-user-profile">
							<div class="xe-up-thumb">
								<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/4/000/144/2fb/3d3a043.jpg" class="img-responsive img-circle" style="background-color: #eb212e;"/>
								<span style="background-color: #eb212e;">3</span>
							</div>
							<div class="xe-up-details">
								<h4 style="color: #eb212e;">Razvan Morut</h4>
								<p>320 point</p>
								<p>7 kurser</p>
							</div>
						</div>
						<div class="xe-user-profile">
							<div class="xe-up-thumb">
								<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/4/005/078/07e/3d1eda0.jpg" class="img-responsive img-circle" style="background-color: #00afec;"/>
								<span style="background-color: #00afec;">4</span>
							</div>
							<div class="xe-up-details">
								<h4 style="color: #00afec;">Joachim Rosenstand</h4>
								<p>300 point</p>
								<p>7 kurser</p>
							</div>
						</div>
						<div class="xe-user-profile">
							<div class="xe-up-thumb">
								<img src="https://media.licdn.com/mpr/mpr/shrink_240_240/p/3/005/075/396/1030045.jpg" class="img-responsive img-circle" style="background-color: #ea148c;"/>
								<span style="background-color: #ea148c;">5</span>
							</div>
							<div class="xe-up-details">
								<h4 style="color: #ea148c;">Kasper Justesen</h4>
								<p>220 point</p>
								<p>5 kurser</p>
							</div>
						</div>
						<div class="xe-user-profile">
							<div class="xe-up-thumb">
								<img src="assets/imgs/profile-rick.jpg" class="img-responsive img-circle" style="background-color: #f59331;"/>
								<span style="background-color: #f59331;">19</span>
							</div>
							<div class="xe-up-details">
								<h4 style="color: #f59331;">Rick Marker</h4>
								<p>120 point</p>
								<p>1 kurser</p>
							</div>
						</div>
						
					</div>
				</div>
						
				</div>
			</div>