<div class="row" ui-view>
	<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default no-padding">
		<div class="panel-heading">
			<h3 class="panel-title">Learning</h3>
			<p>Lorem ipsum...</p>
		</div>
		<div class="panel-body">
			<div class="row" style="margin: 10px 40px;">
				<div class="col-sm-4">
					<a ui-sref="app.organization.units">
					<div class="xe-widget xe-vertical-counter">
						<div class="xe-icon">
							<i class="fa-sitemap"></i>
						</div>
						
						<div class="xe-label">
							<strong class="num">Kurser</strong>
<!--							<span>Kurser</span>-->
						</div>
					</div>
					</a>
					
				</div>
				<div class="col-sm-4">
					
					<a ui-sref="app.organization.teams">
					<div class="xe-widget xe-vertical-counter">
						<div class="xe-icon">
							<i class="fa-users"></i>
						</div>
						
						<div class="xe-label">
							<strong class="num">Kurus Shop</strong>
<!--							<span>Teams</span>-->
						</div>
					</div>
					</a>
					
				</div>
				
				<div class="col-sm-4">
				
					<a ui-sref="app.organization.users">
					<div class="xe-widget xe-vertical-counter">
						<div class="xe-icon">
							<i class="fa-user"></i>
						</div>
						
						<div class="xe-label">
							<strong class="num">Certifikater</strong>
	<!--							<span>Brugere</span>-->
						</div>
					</div>
					</a>
					
				</div>
			</div>
			<div class="row" style="margin: 10px 40px;">
				<div class="col-sm-4  col-md-offset-2">
					
					<a ui-sref="app.organization.coaches">
					<div class="xe-widget xe-vertical-counter">
						<div class="xe-icon">
							<i class="fa-book"></i>
						</div>
						
						<div class="xe-label">
							<strong class="num">Badges</strong>
<!--							<span></span>-->
						</div>
					</div>
					</a>
					
				</div>
				<div class="col-sm-4">
				
					<a ui-sref="app.learning.courseslist">
					<div class="xe-widget xe-vertical-counter">
						<div class="xe-icon">
							<i class="fa-user"></i>
						</div>
						
						<div class="xe-label">
							<strong class="num">Kursus/Admin</strong>
<!--							<span>Brugere</span>-->
						</div>
					</div>
					</a>
					
				</div>
			</div>
		</div>
	</div>
	</div>
</div>