<section class="profile-env">
	<div class="row">
	
		<div class="col-sm-4">
			<!-- User Info Sidebar -->
			<div class="user-info-sidebar">
				
		<div class="panel panel-default">
					
			<div class="profile-main-info" >
				<div class="col-sm-4 no-padding">	
					<a href="" class="user-img">
						<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/2/005/09a/219/07bacf3.jpg" alt="user-img" class="img-cirlce img-responsive img-thumbnail" height="100" width="100" />
					</a>
					
					<a href="" class="user-name">
						Klaus Skytte
						<span class="user-status is-online"></span>
					</a>
					
					<span class="user-title">
						Afd.: Kreative
					</span>
					
				</div>
				
				<div class="col-sm-8" style="padding: 14px 0 0 10px;">	
					<ul class="list-unstyled user-info-list">
					<li>
						<i class="fa-institution"></i>
						Purplecow
					</li>
					<li>
						<i class="fa-briefcase"></i>
						Creative Director
					</li>
					<li>
						<i class="fa-user"></i>
						Leder
					</li>
					<li>
						<i class="fa-mobile"></i>
						+45 50 60 70 80
					</li>
					<li>
						<i class="fa-envelope-o"></i>
						klaus@purplecow.dk
					</li>
				</ul>
				</div>
			</div>

			
			<ul class="list-unstyled user-friends-count">
				<li>
					<span>24</span>
					Placing på leaderboardet
				</li>
				<li>
					<span>12</span>
					Genneførte kurser
				</li>
				<li>
					<span>8</span>
					Opnåede badges
				</li>
			</ul>
			
		</div>
				


			</div>
			
		</div>
		
		<div class="col-sm-8">
		
			<tabset>
				<tab heading="Aktiviteter">
					<ul class="cbp_tmtimeline">
						<li>
							<time class="cbp_tmtime" datetime="2014-12-06T18:30"></time>
							
							<div class="cbp_tmicon timeline-bg-primary" style="background-image: url('https://media.licdn.com/mpr/mpr/shrink_200_200/p/2/005/09a/219/07bacf3.jpg');">
							</div>
							
							<div class="cbp_tmlabel">
								<span><strong>Klaus Skytte</strong> loggede ind sidste gang: 27. januar 2015 kl. 11.58</span>
							</div>
						</li>
						<li>
							<time class="cbp_tmtime" datetime="2014-12-05T13:22"></time>
							
							<div class="cbp_tmicon timeline-bg-primary" style="background-image: url('https://media.licdn.com/mpr/mpr/shrink_200_200/p/2/005/09a/219/07bacf3.jpg');">
							</div>
							
							<div class="cbp_tmlabel">
								<span><strong>Klaus Skytte</strong> gennemførte kurset <strong>"PHP"</strong></span>
								<span class="cbp_tmlabel_ndate">27. JAN</span>
								<ul class="cbp_tmlabel_extra">
									<li>
										<a href="#">
										<span class="element-img" style="background-image: url('demo-images/learning-9.jpg');"></span>
										<div class="cbp_tmlabel_extra_text">
											<span class="element-title">PHP</span>
											<span class="element-time">PDF 20 slides</span>
										</div>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<time class="cbp_tmtime" datetime="2014-12-05T13:22"></time>
							
							<div class="cbp_tmicon timeline-bg-primary" style="background-image: url('https://media.licdn.com/mpr/mpr/shrink_200_200/p/2/005/09a/219/07bacf3.jpg');">
							</div>
							
							<div class="cbp_tmlabel">
								<span><strong>Klaus Skytte</strong> begyndte 2 kurser</span>
								<span class="cbp_tmlabel_ndate">25. JAN</span>
								<ul class="cbp_tmlabel_extra">
									<li>
										<a href="#">
											<span class="element-img" style="background-image: url('demo-images/learning-2.jpg');"></span>
											<div class="cbp_tmlabel_extra_text">
												<span class="element-title">Vores core-values</span>
												<span class="element-time">PDF 4 slides</span>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
										<span class="element-img" style="background-image: url('demo-images/learning-9.jpg');"></span>
										<div class="cbp_tmlabel_extra_text">
											<span class="element-title">PHP</span>
											<span class="element-time">PDF 20 slides</span>
										</div>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<time class="cbp_tmtime" datetime="2014-12-05T13:22"></time>
							
							<div class="cbp_tmicon timeline-bg-primary" style="background-image: url('http://eloomi.playground.purpledigital.dk/x/assets/imgs/profile-rick.jpg');">
							</div>
							
							<div class="cbp_tmlabel">
								<span><strong>Rick Marker</strong> skrev en besked til <strong>Klaus Skytte</strong></span>
								<span class="cbp_tmlabel_ndate">25. JAN</span>
								<div class="cbp_tmlabel_extra">
									<div class="leder-msg">
									Hej Klaus,<br/>
									Jeg har tilføjet 2 kurser til dig. Det er 2 simple PDF der indeholder henholdsvis firmaets core-values og vores nuværende produkt-kardoktek. Du bedes se dem igennem hurtigst muligt ;) Mvh. Rick
									</div>
								</div>
							</div>
						</li>
						<li>
							<time class="cbp_tmtime" datetime="2014-12-06T18:30"></time>
							
							<div class="cbp_tmicon timeline-bg-primary" style="background-image: url('http://eloomi.playground.purpledigital.dk/x/assets/imgs/profile-rick.jpg');">
							</div>
							
							<div class="cbp_tmlabel">
								<span><strong>Rick Marker</strong> tildelte <strong>Klaus Skytte</strong> 2 kurser</span>
								<span class="cbp_tmlabel_ndate">20. JAN</span>
							</div>
						</li>
						<li>
							<time class="cbp_tmtime" datetime="2013-12-06T18:30"></time>
							
							<div class="cbp_tmicon timeline-bg-primary" style="background-image: url('https://media.licdn.com/mpr/mpr/shrink_200_200/p/2/005/09a/219/07bacf3.jpg');">
							</div>
							
							<div class="cbp_tmlabel">
								<span><strong>Klaus Skytte</strong> fik tildelt et badge <strong>"Første log ind"</strong></span>
							</div>
						</li>
					</ul>
								
				</tab>
				<tab heading="Mål & Coaching">
					<p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>
					<p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>
				</tab>
				<tab heading="Resultater">
					<div class="panel-heading">
						<h3 class="panel-title">Resultater</h3>
						<p>Brugeren har opnået følgende badges</p>
					</div>
					<div class="achievements">
						<div class="row">
											<div class="col-md-3">
												<div class="achievements-icon" style="background-color: #a761ff;">
													<i class="fa fa-flag-checkered"></i>
												</div>
												<h4>Første kursus</h4>
												<p>Information</p>
											</div>
											
											<div class="col-md-3 inactive">
												<div class="achievements-icon">
													<i class="fa-puzzle-piece"></i>
												</div>
												<h4>Title</h4>
												<p>Information</p>
											</div>
											
											<div class="col-md-3 inactive">
												<div class="achievements-icon">
													<i class="fa-line-chart"></i>
												</div>
												<h4>Anno 2015 Markedsanalyse</h4>
												<p>Information</p>
											</div>
											
											<div class="col-md-3">
												<div class="achievements-icon" style="background-color: #00c3c0;">
													<i class="fa-trophy"></i>
												</div>
												<h4>Top 10</h4>
												<p>Information</p>
											</div>
										</div>
						<div class="row">
										
											<div class="col-md-3 inactive">
												<div class="achievements-icon">
													<i class="fa-quote-left"></i>
												</div>
												<h4>Title</h4>
												<p>Information</p>
											</div>
											
											<div class="col-md-3 inactive">
												<div class="achievements-icon">
													<i class="fa-graduation-cap"></i>
												</div>
												<h4>Title</h4>
												<p>Information</p>
											</div>
											
											<div class="col-md-3">
												<div class="achievements-icon" style="background-color: #e3bbff;">
													<i class="fa fa-terminal"></i>
												</div>
												<h4>Selvudviklingskursus</h4>
												<p>Information</p>
											</div>
											
											<div class="col-md-3 inactive">
												<div class="achievements-icon">
													<i class="fa-rocket"></i>
												</div>
												<h4>Title</h4>
												<p>Information</p>
											</div>
										</div>
						<div class="row">
											
											<div class="col-md-3 inactive">
												<div class="achievements-icon">
													<i class="fa-users"></i>
												</div>
												<h4>Social Media Kursus</h4>
												<p>Information</p>
											</div>
											
											<div class="col-md-3">
												<div class="achievements-icon" style="background-color: #ff864b;">
													<i class="fa-shield"></i>
												</div>
												<h4>Title</h4>
												<p>Information</p>
											</div>
											
											<div class="col-md-3 inactive">
												<div class="achievements-icon">
													<i class="fa-recycle"></i>
												</div>
												<h4>Title</h4>
												<p>Information</p>
											</div>
											
											<div class="col-md-3">
												<div class="achievements-icon" style="background-color: #ffdc69;">
													<i class="fa-trophy"></i>
												</div>
												<h4>Top 5</h4>
												<p>Information</p>
											</div>
										</div>
						<div class="row">
							<ul class="pagination pagination-sm eCentrated">
								<li>
									<a href="#">1</a>
								</li>
								<li class="active">
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">4</a>
								</li>
								<li>
									<a href="#">5</a>
								</li>
							</ul>
						</div>
					</div>
				</tab>
				<tab heading="Målsætninger">
					<div class="panel-heading">
						<h3 class="panel-title">Målsætninger</h3>
						<p>Målsætninger sat af brugeren</p>
					</div>
					
					<div class="goal-msg">
						<span>Sendest redigeret d. 17 februar</span>
						<div class="goal-msg-div">
							<div class="goal-msg-text">
								<p>Opnå en overordnet score på minimum 100% i årets første kvartal.<br/><br/>
								Jeg vil i top 25 på leaderboardet inden året er omme.<br/><br/>
								Personligt er mit mål, at blive mere ansvarsfuld i Regnskabs og Support -afdelingen
								</p>
							</div>
							<div class="goal-msg-controlers">
								<div class="radio">
									<label>
										<input type="radio" class="cbr" name="readgoal" value="no" checked>
										Ikke læst
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" class="cbr" name="readgoal" value="yes" >
										Læst
									</label>
								</div>
							</div>
						</div>
					</div>
					
				</tab>
</tabset>
			
		</div>
		
	</div>
</section>