<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Du ligger nr.19 på leaderboardet</h3>
					<p>Du mangler 460 point for at komme på 1. pladsen</p>
				</div>
				

				<div class="panel-body">
						
				<div class="row">
					<div class="col-sm-9">
					
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									if( ! $.isFunction($.fn.dxChart))
										return;
										
								var dataSource = [
									{ date: 'Nov 2013', person1: 540, person2: 0, person3: 340, person4: 300, person5: 320, person6: 460 },
									{ date: 'Dec 2013', person1: 240, person2: 160, person3: 320, person4: 300, person5: 220, person6: 420 },
									{ date: 'Jan 2014', person1: 460, person2: 360, person3: 320, person4: 380, person5: 420, person6: 500 },
									{ date: 'Feb 2014', person1: 500, person2: 460, person3: 320, person4: 320, person5: 460, person6: 320 },
									{ date: 'Mar 2014', person1: 380, person2: 420, person3: 300, person4: 340, person5: 400, person6: 260 },
									{ date: 'Apr 2014', person1: 480, person2: 440, person3: 320, person4: 340, person5: 320, person6: 240 },
									{ date: 'Maj 2014', person1: 260, person2: 420, person3: 320, person4: 340, person5: 500, person6: 200 },
									{ date: 'Jun 2014', person1: 140, person2: 460, person3: 360, person4: 320, person5: 300, person6: 180 },
									{ date: 'Jul 2014', person1: 420, person2: 400, person3: 320, person4: 380, person5: 420, person6: 340 },
									{ date: 'Aug 2014', person1: 360, person2: 320, person3: 320, person4: 320, person5: 320, person6: 60 },
									{ date: 'Sep 2014', person1: 380, person2: 480, person3: 320, person4: 300, person5: 440, person6: 160 },
									{ date: 'Okt 2014', person1: 400, person2: 400, person3: 340, person4: 380, person5: 480, person6: 180 },
									{ date: 'Nov 2014', person1: 380, person2: 420, person3: 320, person4: 340, person5: 360, person6: 140 },
									{ date: 'Dec 2014', person1: 460, person2: 460, person3: 320, person4: 360, person5: 380, person6: 80 },
									{ date: 'Jan 2015', person1: 580, person2: 460, person3: 320, person4: 300, person5: 220, person6: 120 }
								];
									
									$("#bar-3").dxChart({
										dataSource: dataSource,
										commonSeriesSettings: {
											argumentField: "date",
											sizeField: 2,
											width: 1,
											point: {
												size: 8
											},
											hoverStyle: {
												width: 2.5
											}
										},
										series: [
											{ valueField: "person1", name: "Klaus Skytte", color: "#ace563" },
											{ valueField: "person2", name: "Kenneth Jensen", color: "#441163" },
											{ valueField: "person3", name: "Razvan Morut", color: "#eb212e" },
											{ valueField: "person4", name: "Joachim Rosenstand", color: "#00afec" },
											{ valueField: "person5", name: "Kasper Justesen", color: "#ea148c" },
											{ valueField: "person6", name: "Rick Marker", color: "#f59331" }
										],
										argumentAxis:{
											grid:{
												visible: true
											}
										},
										tooltip:{
											enabled: true
										},
										title: "",
										legend: {
											verticalAlignment: "bottom",
											horizontalAlignment: "center",
										},
										commonPaneSettings: {
											border:{
												visible: true,
												right: true
											}	   
										}
									});
								});
							</script>
							<div id="bar-3" style="height: 500px; width: 100%;"></div>
					</div>
					<div class="col-sm-3">
						<div class="xe-user-profile">
							<div class="xe-up-thumb">
								<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/2/005/09a/219/07bacf3.jpg" class="img-responsive img-circle" style="background-color: #ace563;"/>
								<span style="background-color: #ace563;">1</span>
							</div>
							<div class="xe-up-details">
								<h4 style="color: #ace563;">Klauss Skytte</h4>
								<p>580 point</p>
								<p>12 kurser</p>
							</div>
						</div>
						<div class="xe-user-profile">
							<div class="xe-up-thumb">
								<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/2/005/062/02b/24aa825.jpg" class="img-responsive img-circle" style="background-color: #441163;"/>
								<span style="background-color: #441163;">2</span>
							</div>
							<div class="xe-up-details">
								<h4 style="color: #441163;">Kenneth Jensen</h4>
								<p>460 point</p>
								<p>10 kurser</p>
							</div>
						</div>
						<div class="xe-user-profile">
							<div class="xe-up-thumb">
								<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/4/000/144/2fb/3d3a043.jpg" class="img-responsive img-circle" style="background-color: #eb212e;"/>
								<span style="background-color: #eb212e;">3</span>
							</div>
							<div class="xe-up-details">
								<h4 style="color: #eb212e;">Razvan Morut</h4>
								<p>320 point</p>
								<p>7 kurser</p>
							</div>
						</div>
						<div class="xe-user-profile">
							<div class="xe-up-thumb">
								<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/4/005/078/07e/3d1eda0.jpg" class="img-responsive img-circle" style="background-color: #00afec;"/>
								<span style="background-color: #00afec;">4</span>
							</div>
							<div class="xe-up-details">
								<h4 style="color: #00afec;">Joachim Rosenstand</h4>
								<p>300 point</p>
								<p>7 kurser</p>
							</div>
						</div>
						<div class="xe-user-profile">
							<div class="xe-up-thumb">
								<img src="https://media.licdn.com/mpr/mpr/shrink_240_240/p/3/005/075/396/1030045.jpg" class="img-responsive img-circle" style="background-color: #ea148c;"/>
								<span style="background-color: #ea148c;">5</span>
							</div>
							<div class="xe-up-details">
								<h4 style="color: #ea148c;">Kasper Justesen</h4>
								<p>220 point</p>
								<p>5 kurser</p>
							</div>
						</div>
						<div class="xe-user-profile">
							<div class="xe-up-thumb">
								<img src="assets/imgs/profile-rick.jpg" class="img-responsive img-circle" style="background-color: #f59331;"/>
								<span style="background-color: #f59331;">19</span>
							</div>
							<div class="xe-up-details">
								<h4 style="color: #f59331;">Rick Marker</h4>
								<p>120 point</p>
								<p>1 kurser</p>
							</div>
						</div>
						
					</div>
				</div>
						
				</div>
			</div>
			
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Table</h3>
	</div>
	<div class="panel-body">
		
		<script type="text/javascript">
		jQuery(document).ready(function($)
		{
			$("#example-1").dataTable({
				aLengthMenu: [
					[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]
				]
			});
		});
		</script>
		
		
		<table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Pacering</th>
					<th>Navn</th>
					<th>Opnåede point</th>
					<th>Certifikater</th>
					<th>Samlet kpi</th>
					<th>Hold</th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<td>1</td>
					<td>Klauss Skytte</td>
					<td>580</td>
					<td>12</td>
					<td>123.5</td>
					<td>Kreativ</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Kenneth Jensen</td>
					<td>460</td>
					<td>10</td>
					<td>105</td>
					<td>Administrativ, Kreativ</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Razvan Morut</td>
					<td>320</td>
					<td>7</td>
					<td>120</td>
					<td>Udvikling</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Joachim Rosenstand</td>
					<td>300</td>
					<td>7</td>
					<td>102.5</td>
					<td>Kreativ</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Kasper Justesen</td>
					<td>220</td>
					<td>5</td>
					<td>76</td>
					<td>Regnskab</td>
				</tr>
				<tr>
					<td>6</td>
					<td>Haniel Helena Møller</td>
					<td>210</td>
					<td>5</td>
					<td>96</td>
					<td>Regnskab</td>
				</tr>
				<tr>
					<td>7</td>
					<td>Keld Jepsen</td>
					<td>205</td>
					<td>5</td>
					<td>70</td>
					<td>Administrativ, Salg</td>
				</tr>
				<tr>
					<td>8</td>
					<td>Simon Rothenborg</td>
					<td>205</td>
					<td>5</td>
					<td>65</td>
					<td>Kreativ, Udvikling</td>
				</tr>
				<tr>
					<td>9</td>
					<td>Betricia Brandt</td>
					<td>190</td>
					<td>5</td>
					<td>85</td>
					<td>Kreativ</td>
				</tr>
				<tr>
					<td>10</td>
					<td>Erik Jensen</td>
					<td>180</td>
					<td>4</td>
					<td>90</td>
					<td>Regnskab</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</div>