<div class="row" ui-view>
	
	<div class="col-sm-8">
	<div class="panel panel-default no-padding">
		<div class="panel-heading">
			<h3 class="panel-title">Organisation</h3>
			<p>Xxxxxx</p>
		</div>
		<div class="panel-body">
			<div class="row" style="margin: 10px 40px;">
				<div class="col-sm-6">
					<a ui-sref="app.saleforce1.companies">
					<div class="xe-widget xe-vertical-counter" xe-counter data-count=".num" data-from="0" data-to="8" data-duration="1">
						<div class="xe-icon">
							<i class="fa-sitemap"></i>
						</div>
						
						<div class="xe-label">
							<strong class="num">0</strong>
							<span>Firmer</span>
						</div>
					</div>
					</a>
					
				</div>
				<div class="col-sm-6">
					
					<a ui-sref="app.saleforce1.courses">
					<div class="xe-widget xe-vertical-counter" xe-counter data-count=".num" data-from="0" data-to="42" data-duration="1.5">
						<div class="xe-icon">
							<i class="fa-users"></i>
						</div>
						
						<div class="xe-label">
							<strong class="num">0</strong>
							<span>Kurser</span>
						</div>
					</div>
					</a>
					
				</div>
			</div>
		</div>
	</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-default no-padding">
			<div class="panel-body">
				<ul class="xe-tab-list">
						<li>
							<span class="element-title">Afdelinger i alt</span>
							<span class="element-time">
								 <span class="element-value">5</span>
							</span>
						</li>
						<li>
							<span class="element-title">Teams i alt</span>
							<span class="element-time">
								 <span class="element-value">7</span>
							</span>
						</li>
						<li>
							<span class="element-title">Kurser pr. afdeling</span>
							<span class="element-time">
								 <span class="element-value">10.8</span>
							</span>
						</li>
						<li>
							<span class="element-title">Gennemførelses % i læring</span>
							<span class="element-time">
								 <span class="element-value">67.5%</span>
							</span>
						</li>
						<li>
							<span class="element-title">Din samlede score</span>
							<span class="element-time">
								 <span class="element-value">7</span>
							</span>
						</li>
						
						
					</ul>
			</div>
		</div>
	</div>
</div>