<script type="text/ng-template" id="assign-users">
    <div> <!-- ng-controller="UnitUpdateCtrl" -->
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h3 class="modal-title">Tilføj Brugere</h3>
	</div>
	
	<div class="modal-body">
	
		<div class="table-teams" >
			<table class="table table-hover members-table middle-align">
				<colgroup>
					<col width="5%"></col>
					<col width="35%"></col>
					<col width="35%"></col>
					<col width="25%"></col>
				</colgroup>
				<thead>
					<tr>
						<th><input type="checkbox" class="cbr" name="members-list[]" id="rootCheck" class="cbr" name="members-list[]"  ng-model="usermodal.allUserSelect" ng-change="changeAllAddUserSelect()" /></th>
						<th>Bruger navn</th>
						<th class="hidden-xs hidden-sm">E-mail</th>
						<th>Afdeling</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in usermodal.allUsers">
						<td class="user-cb">
							<input type="checkbox" class="cbr" name="members-list[]" checklist-model="usermodal.selected.users" checklist-value="user" ng-checked="usermodal.allUserSelect" value="1" />
						</td>
						<td class="user-name">
                            {{user.first_name}} {{user.last_name}}
						</td>
						<td class="hidden-xs hidden-sm">
                            {{user.email}}
						</td>
						<td class="hidden-xs hidden-sm">
                            {{user.active == "active" ? "Active" : (user.active == "pending" ? "Pending" : "Inactive")}}
						</td>
					</tr>

				</tbody>
			</table>
		</div>
		
	</div>
	
	<div class="modal-footer">
		<div class="modal-btn-right">
			<button type="button" class="btn btn-half btn-transparent" ng-click="currentModal.close();">Luk</button>
			<button type="button" class="btn btn-half btn-blue" ng-click="applyUserBulkAction('add')">Opdatering</button>
		</div>
	</div>
    </div>
</script>
<script type="text/ng-template" id="assign-courses">
	<div ng-controller="UnitCourseUpdateCtrl">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h3 class="modal-title">Tilføj Kurser</h3>
	</div>
	
	<div class="modal-body">
	
		<div class="table-teams" >
			<table class="table table-hover members-table middle-align">
				<colgroup>
					<col width="5%"></col>
					<col width="80%"></col>
					<col width="15%"></col>
				</colgroup>
				<thead>
					<tr>
						<th><input type="checkbox" class="cbr" name="members-list[]" id="rootCheck" class="cbr" name="members-list[]"  ng-model="coursemodal.allCourseSelect" ng-change="changeAllAddCourseSelect()" /></th>
						<th>Kursus navn</th>
						<th class="hidden-xs hidden-sm">Kategori</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="course in coursemodal.allCourses">
						<td class="user-cb">
							<input type="checkbox" class="cbr" name="members-list[]" checklist-model="coursemodal.selected.courses" checklist-value="course" ng-checked="coursemodal.allCourseSelect" value="1" />
						</td>
						<td class="user-name">
							{{course.name}}
						</td>
						<td class="hidden-xs hidden-sm">
							--
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
	
	<div class="modal-footer">
		<div class="modal-btn-right">
			<button type="button" class="btn btn-half btn-transparent" ng-click="currentModal.close();">Luk</button>
			<button type="button" class="btn btn-half btn-blue" ng-click="applyCourseBulkAction('add');">Opdatering</button>
		</div>
	</div>
	</div>
</script>
<script type="text/ng-template" id="delete-unit">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h3 class="modal-title">Slet team</h3>
	</div>
	
	<div class="modal-body">
		<p>Er du sikker på du vil slette dette hold?</p>	
	</div>
	
	<div class="modal-footer">
		<div class="modal-btn-center">
			<button type="button" class="btn btn-small btn-transparent" ng-click="currentModal.close();">Nej</button>
			<button type="button" class="btn btn-small btn-blue" ng-click="currentModal.dismiss();">Ja</button>
		</div>
	</div>
</script>


<div class="col-sm-8" ng-controller="UnitUpdateCtrl">
	<tabset>
		<tab heading="Brugere">
			<div class="panel-tab-heading">
				<h3 class="panel-title">Brugere i virksomheden</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="org-controlers">
				<div class="left-side">
					<button class="btn btn-delete" ng-click="applyUserBulkAction('delete')">Fjern Brugere</button>
				</div>
				<div class="right-side">
					<a href="" class="btn btn-half btn-blue" ng-click="openModal('assign-users', 'lg');">Tilføj Brugere</a>
				</div>
			</div>
			<div class="table-users">
				<table class="table table-hover members-table middle-align">
				<colgroup>
					<col width="5%"></col>
					<col width="5%"></col>
					<col width="35%"></col>
					<col width="35%"></col>
					<col width="20%"></col>
				</colgroup>
							<thead>
								<tr>
									<th><input type="checkbox" id="rootCheck" class="cbr" name="members-list[]" value="1" ng-model="allUserSelect" ng-change="changeAllUserSelect()"  /></th>
									<th colspan="2">Brugernavn og rolle</th>
									<th class="hidden-xs hidden-sm">E-Mail</th>
									<th>Afdeling</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="user in OrgUnitinfo.users">
									<td class="user-cb">
										<input type="checkbox" class="cbr" name="members-list[]" value="1"  checklist-model="selected.users" checklist-value="user" ng-checked="allUserSelect" />
									</td>
									<td class="user-image hidden-xs hidden-sm">
										<a ng-href="#/app/organization/users/user-{{user.id}}">
											<img ng-src="{{user.image.path !== null ? user.image.path : '/assets/images/user-1.png'}}" class="img-circle"   alt="user-pic" />

										</a>
									</td>
									<td class="user-name">
										<a ng-href="#/app/organization/users/user-{{user.id}}" class="name">{{user.first_name}} {{user.last_name}}</a>
										<span>Bruger</span>
									</td>
									<td class="hidden-xs hidden-sm"><span class="email">{{user.email}}</span></td>
									<!--<td class="user-id">{{user.unit_name.name}}</td>-->
									<td class="user-staus">{{user.active == "active" ? "Active" : (user.active == "pending" ? "Pending" : "Inactive")}}</td>
									<td class="action-links">
										<a ng-href="#/app/organization/users/user-{{user.id}}" class="edit">
											<i class="fa-pencil"></i>
										</a>
									</td>
								</tr>

							</tbody>
						</table>
			</div>
			<div class="org-controlers">
				<div class="left-side">
					<button class="btn btn-delete"  ng-click="applyUserBulkAction('delete')">Fjern Brugere</button>
				</div>
				<div class="right-side">
					<a href="" class="btn btn-half btn-blue" ng-click="openModal('assign-users', 'lg');">Tilføj Brugere</a>
				</div>
			</div>
		</tab>
		<tab heading="Kursus">
			<div class="panel" ng-controller="UnitCourseUpdateCtrl">
				<div class="org-controlers">
					<div class="left-side">
						<h3>Kurser</h3>
						<div class="org-controlers-search">
							<i class="fa fa-search"></i>
							<input placeholder="Søg på kursus navn" class="" ng-model="search.$" />
						</div>
					</div>
					<div class="right-side">
						<a href="" class="btn btn-half btn-blue" ng-click="openModal('assign-courses', 'lg');">Tilføj Kursus</a>
					</div>
				</div>
				<table id="courses-list" class="table dataTable" cellspacing="0" width="100%">
					<colgroup>
						<col width="80%"></col>
						<col width="20%"></col>
					</colgroup>
				
					<thead>
						<tr>
							<th>Kursus Navn</th>
							<th>Aktiv</th>
						</tr>
					</thead>
				
					<tfoot>
						<tr>
							<th>Kursus Navn</th>
							<th>Aktiv</th>
						</tr>
					</tfoot>
				
					<tbody>
						<tr ng-repeat="course in OrgUnitinfo.courses | filter:search | orderBy: 'name'">
							<td>{{course.name}}</td>
							<td>{{course.is_active ? "Aktiv": "Ikke Aktiv"}}</td>
						</tr>
					</tbody>
				</table>
				<div class="org-controlers">
					<div class="right-side">
						<a href="" class="btn btn-half btn-blue" ng-click="openModal('assign-courses', 'lg');">Tilføj Kursus</a>
					</div>
				</div>
			</div>
		</tab>
		
		<tab heading="Indstillinger">		
			<form role="form" name="unitEditForm" id="form-unit" method="post" class="validate">
				<div class="panel-body" style="">
				
					<div class="form-title">Afdeling DETALJER</div>
					
					<div class="form-section">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label">Afdelingsnavn</label>
							<input class="col-md-10 form-control" type="text" data-message-required="Navn is required." data-validate="required" name="fornavn" ng-model = "unitinfo.name">
						</div>
						
						<div class="form-group col-md-12">
						
							<label class="col-md-2 control-label">Overordnet</label>
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									/*$("#unit-parent").selectBoxIt().on('open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
									});*/
								});
							</script>
							<div class="col-md-10" style="padding: 0;">
								<select class="form-control" id="unit-parent" ng-model = "unitinfo.parent_id">
									<option value="null" ng-selected="unitinfo.parent_id == null"></option>
									<option ng-repeat="unit in allUnits" value="{{unit.id}}" ng-selected="unitinfo.parent_id == unit.id">{{unit.name}}</option>
								</select>
							</div>
						</div>
						
						<div class="form-group col-md-12">
						
							<label class="col-md-2 control-label">Vælg leder</label>
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									/*$("#unit-leader").selectBoxIt().on('open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
									});*/
								});
							</script>
							
							<div class="col-md-10" style="padding: 0;">
								<select class="form-control"  id="unit-leader" ng-model = "unitinfo.leader.id">
									<option ng-repeat="user in allUsers" value="{{user.id}}" ng-selected="unitinfo.leader.id == user.id">{{user.first_name }} {{ user.last_name}}</option>
								</select>
							</div>
						</div>

						<div class="form-group col-md-12">
							<label class="col-md-2 control-label">Beskrivelse</label>
							<textarea rows="5" class="col-md-10 form-control" ng-model="unitinfo.code"></textarea>
						</div>
					</div>
<!--					<div class="col-md-4">
						<button  class="btn btn-full btn-transparent" ng-click="deleteunit(unitEditForm)">Slet Unit</button>
					</div>-->
					<div class="col-md-4 col-md-offset-8">
						<button  class="btn btn-full btn-blue" ng-click="updateunit(unitEditForm)">Opdatering Team</button>
					</div>
					
				</div>
			</form>
		</tab>
	</tabset>
	
</div>
	
<div class="col-sm-3 col-md-offset-1 col-tab-offset">
	<a href="" class="btn btn-full btn-blue" ng-click="openModal('delete-unit', 'sm');">Slet Afdeling</a>
	<button class="btn btn-full btn-transparent" ui-sref="app.organization.units">Tilbage til Afdelinger</button>
</div>