<div class="col-md-10 col-md-offset-1" ng-controller="UnitCreateCtrl">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Opret ny afdeling</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			
			<form role="form" id="form-unit" method="post" class="validate" name="unitCreateForm" class="validate">
				<div class="panel-body" style="">
				
					<div class="form-title">Afdelings detaljer</div>
					
					<div class="form-section col-md-12">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label">Afdelingsnavn</label>
							<input class="col-md-10 form-control" type="text" data-message-required="Navn is required." data-validate="required" name="fornavn" ng-model = "unitinfo.name">
						</div>
						
						<div class="form-group col-md-12">
						
							<label class="col-md-2 control-label">Overordnet</label>
<!--							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#unit-parent").selectBoxIt().on('open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
									});
								});
							</script>-->
							<div class="col-md-10" style="padding: 0;">
								<select class="form-control" id="unit-parent" ng-model = "unitinfo.parent_id">
									<option value="undefined"></option>
									<option ng-repeat="unit in allUnits" value="{{unit.id}}">{{unit.name}}</option>
								</select>
							</div>
						</div>
						
						<div class="form-group col-md-12">
						
							<label class="col-md-2 control-label">Vælg leder</label>
<!--							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#unit-leader").selectBoxIt().on('open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
									});
								});
							</script>-->
							
							<div class="col-md-10" style="padding: 0;">
								<select class="form-control"  id="unit-leader" ng-model = "unitinfo.leader_id">
									<option ng-repeat="user in allUsers" value="{{user.id}}">{{user.first_name }} {{ user.last_name}}</option>
								</select>
							</div>
						</div>
						
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label">Beskrivelse</label>
							<textarea rows="5" class="col-md-10 form-control" ng-model = "unitinfo.code"></textarea>
						</div>
					</div>
					
					<div class="col-md-4">
						<button class="btn btn-full btn-transparent" ui-sref="app.organization.units">Tilbage</button>
					</div>
					<div class="col-md-4">
						<button class="btn btn-full btn-blue" ng-click="createunit(unitCreateForm)">Opret afdeling</button>
					</div>
					<div class="col-md-4">
						<button class="btn btn-full btn-blue" ng-click="createunitandrefresh(unitCreateForm)">Opret afdeling Og Opret Flere</button>
					</div>
					
				</div>
			</form>
			
		</div>
		
	</div>