<div class="row" ng-controller="UserResetPasswordController">
	<div class="col-md-4 col-md-offset-4">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Forgot password</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			
			<form role="form" id="form-tean" method="post" name="passwordResetForm">
				<div class="panel-body" style="">
					<div class="form-title">Enter email</div>
					
					<div class="form-section col-md-12">
						<div class="form-group col-md-12">
							<input type="text" class="form-control input-dark" data-message-required="Email is required." data-validate="required" name="email" id="email" autocomplete="off" ng-model="reset.email" />
						</div>
					</div>
					
					<div class="col-md-12">
						<div class="col-md-4 col-md-offset-8">
							<button  class="btn btn-full btn-blue" ng-click="requestresetpassword(passwordResetForm)">Send</button>
						</div>
					</div>
					
				</div>
			</form>
			
		</div>
		
	</div>
</div>