<div class="login-container">

	<div class="row">
	
		<div class="col-sm-6">
		
			<script type="text/javascript">
				jQuery(document).ready(function($)
				{
					// Reveal Login form
					setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
					
                    /*
					// Validation and Ajax action
					$("form#login").validate({
						rules: {
							username: {
								required: true
							},
							
							passwd: {
								required: true
							}
						},
						
						messages: {
							username: {
								required: 'Indtast venligst dit brugernavn.'
							},
							
							passwd: {
								required: 'Indtast venligst din adgangskode.'
							}
						},
						
						// Form Processing via AJAX
						submitHandler: function(form)
						{
							show_loading_bar(70); // Fill progress bar to 70% (just a given value)
							
							var opts = {
								"closeButton": true,
								"debug": false,
								"positionClass": "toast-top-full-width",
								"onclick": null,
								"showDuration": "300",
								"hideDuration": "1000",
								"timeOut": "5000",
								"extendedTimeOut": "1000",
								"showEasing": "swing",
								"hideEasing": "linear",
								"showMethod": "fadeIn",
								"hideMethod": "fadeOut"
							};
								
							$.ajax({
								url: "data/login-check.php",
								method: 'POST',
								dataType: 'json',
								data: {
									do_login: true,
									username: $(form).find('#username').val(),
									passwd: $(form).find('#passwd').val(),
								},
								success: function(resp)
								{
									show_loading_bar({
										delay: .5,
										pct: 100,
										finish: function(){
											
											// Redirect after successful login page (when progress bar reaches 100%)
											if(resp.accessGranted)
											{
												window.location.href = 'index.php';
											}else{
												toastr.error("Du har indtastet forkert adgangskode, prøv igen.", "Ugyldigt log ind!", opts);
												$(form).find('#passwd').select();
											}
																					}
									});
									
																	}
							});
							
						}
					});
					   */
					// Set Form focus
					//$("form#login .form-group:has(.form-control):first .form-control").focus();
				});
			</script>

                <!-- Errors container -->
                <div class="errors-container">


                </div>

                <!-- Add class "fade-in-effect" for login form effect -->
                <form method="post" role="form" id="login" name="loginform" class="login-form fade-in-effect validate" ng-controller="UserSigninController" >

                    <div class="login-header">
                        <a href="login.php" class="logo">
                            <img src="assets/imgs/eloomi-logo@2x.png" alt=""  />
                        </a>
                    </div>


                    <div class="form-group">
                        <label class="control-label" for="username">Brugernavn</label>
                        <input type="text" class="form-control input-dark" data-message-required="Navn is required." data-validate="required" name="username" id="username" autocomplete="off" ng-model="user.email" />
                    </div>
				
				<div class="form-group">
					<label class="control-label" for="passwd">Adgangskode</label>
					<input type="password" class="form-control input-dark"  data-message-required="Navn is required." data-validate="required" name="passwd" id="passwd" autocomplete="off" ng-model="user.password" />
				</div>
				
				<div class="form-group">
					<button type="submit" class="btn btn-dark  btn-block text-left" ng-click="signin(loginform)">
						<i class="fa-lock"></i>
						Log ind
					</button>
				</div>
				
				<div class="login-footer">
					<a ui-sref="forgotpassword">Glemt kodeord?</a>
				</div>
				
			</form>
			
		</div>
		
	</div>
	
</div>
