<div class="row" ng-controller="UserResetPasswordController">
	<div class="col-md-4 col-md-offset-4">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Set your password</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			
			<form role="form" id="form-tean" method="post" class="validate" name="passwordResetForm">
				<div class="panel-body" style="">
				
					<div class="form-title">Password</div>
					
					<div class="form-section col-md-12">
						<div class="form-group col-md-12">
							<label class="col-md-3 control-label">Type password</label>
							<input id="password-1" name="password1" class="col-md-9 form-control" type="password" ng-model="reset.password">
						</div>
						
						<div class="form-group col-md-12">
							<label class="col-md-3 control-label">Re-type password</label>
							<input id="password-2" name="password2" class="col-md-9 form-control" type="password" ng-model="reset.password_confirmation">
						</div>
					</div>
					
					<div class="col-md-4 col-md-offset-8">
						<button  class="btn btn-full btn-blue" ng-click="resetpassword(passwordResetForm)">Ok</button>
					</div>
					
				</div>
			</form>
			
		</div>
		
	</div>
</div>