<div class="row">
	<div class="col-md-10 col-md-offset-1">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Opret nyt team</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			
			<form role="form" id="form-tean" method="post" class="validate" name="teamCreateForm" class="validate" ng-controller="TeamCreateCtrl">
				<div class="panel-body" style="">
				
					<div class="form-title">TEAM DETALJER</div>
					
					<div class="form-section col-md-12">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label">Team navn</label>
							<input class="col-md-10 form-control" type="text" data-message-required="Navn is required." data-validate="required" name="fornavn" ng-model="teaminfo.name">
						</div>
						
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label">Beskrivelse</label>
                            <textarea rows="5" class="col-md-10 form-control" ng-model="teaminfo.description" ></textarea>
						</div>
					</div>
					
					<div class="col-md-4">
						<button class="btn btn-full btn-transparent" ui-sref="app.organization.teams">Tilbage</button>
					</div>
					<div class="col-md-4">
						<button  class="btn btn-full btn-blue" ng-click="createteam(teamCreateForm)">Opret Team</button>
					</div>
					<div class="col-md-4">
						<button  class="btn btn-full btn-blue" ng-click="createteamandrefresh(teamCreateForm)">Opret Team Og Opret Flere</button>
					</div>
					
				</div>
			</form>
			
		</div>
		
	</div>
</div>