<div class="col-md-10 col-md-offset-1">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Opret ny SCORM Modul</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		
		<form role="form" id="form-tean" method="post" class="validate">
			<div class="panel-body" style="">
			
				<div class="form-title">MODUL DETALJER</div>
				
				<div class="form-section col-md-12">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-label">Modul navn</label>
						<input class="col-md-10 form-control" type="text" data-message-required="Navn is required." data-validate="required" name="fornavn">
					</div>
					
					<div class="form-group col-md-12">
						<label class="col-md-2 control-label">Beskrivelse</label>
						<textarea rows="5" class="col-md-10 form-control"></textarea>
					</div>
					
					<div class="form-group col-md-12">
						<label class="col-md-2 control-label">Skippable</label>
						<div class="col-md-10 side-checkbox">
							<input type="checkbox" class="cbr cbr-default" /> You can let the user to skip this module.
						</div>
					</div>
				</div>
				
				<div class="form-title">SCORM</div>
				
				<div class="form-section col-md-12">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-label">Importer SCORM</label>
						<input id="field-4" class="col-md-10 form-control" type="file">
					</div>
				</div>
				
				<div class="col-md-4 col-md-offset-4">
					<button class="btn btn-full btn-transparent">Tilbage</button>
				</div>
				<div class="col-md-4">
					<button type="submit" class="btn btn-full btn-blue">Opret Modul</button>
				</div>
				
			</div>
		</form>
		
	</div>
	
</div>