<div ui-view>
	<div class="col-sm-8">
		<div class="panel panel-default no-padding-side">
			
			<div class="panel-heading">
				<h3 class="panel-title">Coaches i virksomheden</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			
			<div class="panel-body">
				
				<div class="org-controlers">
					<div class="left-side">
						<button class="btn btn-delete">Fjern Coach</button>
					</div>
					<div class="right-side">
						<a ui-sref="app.organization.coaches.new" class="btn btn-half btn-blue">Opret Coaches</a>
					</div>
				</div>
				
				<div class="table-users">
					<table class="table table-hover members-table middle-align">
						<colgroup>
							<col width="5%"></col>
							<col width="5%"></col>
							<col width="25%"></col>
							<col width="30%"></col>
							<col width="20%"></col>
							<col width="10%"></col>
							<col width="5%"></col>
						</colgroup>
						<thead>
							<tr>
								<th><input type="checkbox" class="cbr" name="members-list[]" value="1" /></th>
								<th colspan="2">Brugernavn og rolle</th>
								<th class="hidden-xs hidden-sm">E-Mail</th>
								<th>Afdeling</th>
								<th colspan="2">Brugere</th>
							</tr>
						</thead>
						<tbody>
						<tr ng-repeat="coach in resources.data">
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="1" />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a ng-href="#/app/organization/coaches/coach-{{coach.id}}">
									<img ng-src="{{user.image !== null ? coach.image : '/assets/images/user-1.png'}}" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a ng-href="#/app/organization/coaches/coach-{{coach.id}}" class="name">{{coach.first_name}} {{coach.last_name}}</a>
							</td>
							<td class="hidden-xs hidden-sm"><span class="email">{{coach.email}}</span></td>
							<td class="user-id">{{coach.unit_name.name}}</td>
							<td class="user-staus">{{user.number}}</td>
							<td class="action-links">
								<a ng-href="#/app/organization/coaches/coach-{{coach.id}}" class="edit">
									<i class="fa-pencil"></i>
								</a>
							</td>
						</tr>
										
						</tbody>
						</table>
				</div>
					
				<div class="org-controlers">
					<div class="left-side">
						<button class="btn btn-delete">Fjern Coach</button>
					</div>
					<div class="right-side">
						<a ui-sref="app.organization.coaches.new" class="btn btn-half btn-blue">Opret Coaches</a>
					</div>
				</div>
			
			</div>
			
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default no-padding">
			<div class="panel-body">
				<ul class="xe-tab-list">
						<li>
							<span class="element-title">Afdelinger i alt</span>
							<span class="element-time">
								 <span class="element-value">5</span>
							</span>
						</li>
						<li>
							<span class="element-title">Teams i alt</span>
							<span class="element-time">
								 <span class="element-value">7</span>
							</span>
						</li>
						<li>
							<span class="element-title">Kurser pr. afdeling</span>
							<span class="element-time">
								 <span class="element-value">10.8</span>
							</span>
						</li>
						<li>
							<span class="element-title">Gennemførelses % i læring</span>
							<span class="element-time">
								 <span class="element-value">67.5%</span>
							</span>
						</li>
						<li>
							<span class="element-title">Din samlede score</span>
							<span class="element-time">
								 <span class="element-value">7</span>
							</span>
						</li>
						
						
					</ul>
			</div>
		</div>
	</div>
</div>

