<div ui-view>
	<div class="col-sm-8">
		<div class="panel panel-default no-padding-side">
			
		<div class="panel-heading">
			<h3 class="panel-title">Teams i virksomheden</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		
		<div class="panel-body">
		
		<div class="org-controlers">
			<div class="left-side">
				<button class="btn btn-delete" ng-click="applyTeamBulkAction()">Slet</button>
			</div>
			<div class="right-side">
				<a ui-sref="app.organization.teams.new" class="btn btn-half btn-blue">Opret team</a>
			</div>
		</div>
		
		<div class="table-teams" >
			<table class="table table-hover members-table middle-align">
				<colgroup>
					<col width="5%"></col>
					<col width="65%"></col>
					<col width="15%"></col>
					<col width="10%"></col>
					<col width="5%"></col>
				</colgroup>
							<thead>
								<tr>
									<th><input type="checkbox" class="cbr" name="members-list[]" id="rootCheck" class="cbr" name="members-list[]"  ng-model="allTeamSelect"  ng-change="changeAllTeamSelect()" /></th>
									<th>Team navn</th>
									<th class="hidden-xs hidden-sm">Brugere</th>
									<th colspan="2">Kurser</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="team in resources.data">
									<td class="user-cb">
										<input type="checkbox" class="cbr" name="members-list[]"  checklist-model="selected.teams" checklist-value="team" ng-checked="allTeamSelect" value="1" />
									</td>
									<td class="user-name">
										<a ng-href="#/app/organization/teams/team-{{team.id}}" class="name">{{team.name}}</a>
									</td>
									<td class="hidden-xs hidden-sm">
										{{team.user_count.count}}
									</td>
									<td class="hidden-xs hidden-sm">
										{{team.course_count.count}}
									</td>
									<td class="action-links">
										<a ng-href="#/app/organization/teams/team-{{team.id}}" class="edit">
											<i class="fa-pencil"></i>
										</a>
									</td>
								</tr>
                                <!--<tr>
                                    <td colspan = "5">
                                        {{selected.teams}}
                                    </td>
                                </tr>-->
							</tbody>
						</table>
			</div>
		
		<div class="org-controlers">
			<div class="left-side">
				<button class="btn btn-delete" ng-click="applyTeamBulkAction()">Slet</button>
			</div>
			<div class="right-side">
				<a ui-sref="app.organization.teams.new" class="btn btn-half btn-blue">Opret team</a>
			</div>
		</div>
		
		</div>
		
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default no-padding">
			<div class="panel-body">
				<ul class="xe-tab-list">
						<li>
							<span class="element-title">Afdelinger i alt</span>
							<span class="element-time">
								 <span class="element-value">5</span>
							</span>
						</li>
						<li>
							<span class="element-title">Teams i alt</span>
							<span class="element-time">
								 <span class="element-value">7</span>
							</span>
						</li>
						<li>
							<span class="element-title">Kurser pr. afdeling</span>
							<span class="element-time">
								 <span class="element-value">10.8</span>
							</span>
						</li>
						<li>
							<span class="element-title">Gennemførelses % i læring</span>
							<span class="element-time">
								 <span class="element-value">67.5%</span>
							</span>
						</li>
						<li>
							<span class="element-title">Din samlede score</span>
							<span class="element-time">
								 <span class="element-value">7</span>
							</span>
						</li>
						
						
					</ul>
			</div>
		</div>
	</div>
</div>

