<div ui-view >
	<div class="col-sm-8" >
		<div class="panel panel-default no-padding-side" ng-controller="UnitsCtrl">
			
			<div class="panel-heading">
				<h3 class="panel-title">Afdelinger og underafdelinger i virksomheden</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
		
			<div class="panel-body">
			
				<div class="org-controlers">
					<div class="right-side">
						<a ui-sref="app.organization.units.new" class="btn btn-half btn-blue">Opret Afdeling</a>
					</div>
				</div>
		
				<div class="uk-list-header">
					<div class="uk-main-col">Afdelingsnavn</div>
					<div class="uk-right">
						<div class="uk-small-col">Brugere</div>
					</div>
				</div>
			
				<script type="text/javascript">
					 jQuery.UIkit.nestable(jQuery('#units-nestable'));
				</script>

				<div class="pc-table" ng-if="data != null">

					<script type="text/ng-template" id="children_renderer2.html">
						<div ui-tree-handle class="uk-nestable-item">
							<div class="uk-nestable-handle"></div>
							<div class="list-label">{{node.name}}</div>
							<div  ng-if="node.children && node.children.length > 0" nodrag ng-click="toggle(this)" style="display:inline-block;" ><span class="fa" ng-class="{'fa-caret-up': collapsed, 'fa-caret-down': !collapsed}"></span></div>
							<div class="uk-right" nodrag>
								<div class="uk-col">{{node.user_count.total}}</div>
								<a class="uk-col uk-col-icon" ng-href="#/app/organization/units/edit-{{node.id}}">
									<i class="fa-pencil"></i>
								</a>
							</div>
						</div>
						<ul ui-tree-nodes ng-model="node.children" ng-class="{hidden: collapsed}" class="uk-nestable-list " >
							<li ng-repeat="node in node.children" ui-tree-node ng-include="'children_renderer2.html'" class="uk-nestable-list-item uk-parent" >
							</li>
						</ul>
					</script>
					<div ui-tree id="tree-root" callbacks="treeOptions" >
						<ul ui-tree-nodes ng-model="data" class="uk-nestable grouped-nestables" >
							<li ng-repeat="node in data" ui-tree-node ng-include="'children_renderer2.html'" class="uk-nestable-list-item uk-parent"></li>
						</ul>
					</div>
				</div>

				<div class="org-controlers">
					<div class="right-side">
						<a ui-sref="app.organization.units.new" class="btn btn-half btn-blue">Opret Afdeling</a>
					</div>
				</div>
			
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default no-padding">
			<div class="panel-body">
				<ul class="xe-tab-list">
						<li>
							<span class="element-title">Afdelinger i alt</span>
							<span class="element-time">
								 <span class="element-value">5</span>
							</span>
						</li>
						<li>
							<span class="element-title">Teams i alt</span>
							<span class="element-time">
								 <span class="element-value">7</span>
							</span>
						</li>
						<li>
							<span class="element-title">Kurser pr. afdeling</span>
							<span class="element-time">
								 <span class="element-value">10.8</span>
							</span>
						</li>
						<li>
							<span class="element-title">Gennemførelses % i læring</span>
							<span class="element-time">
								 <span class="element-value">67.5%</span>
							</span>
						</li>
						<li>
							<span class="element-title">Din samlede score</span>
							<span class="element-time">
								 <span class="element-value">7</span>
							</span>
						</li>
					</ul>
			</div>
		</div>
	</div>
</div>