<div ui-view > <!-- ng-controller="UsersCtrl"-->
	<div class="col-sm-8">
		<div class="panel panel-default no-padding-side">
			
		<div class="panel-heading">
			<h3 class="panel-title">Brugere i virksomheden</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		
		<div class="panel-body">
			
		<div class="org-controlers">
			
			<script type="text/javascript">
					jQuery(document).ready(function($){
						jQuery(".bulk-action select").selectBoxIt();
					});
			</script>
			
			<div class="bulk-action">
				<select name="user_action" ng-model="selected.action">
					<option value="delete">Slet</option>
					<option value="activate">Aktiver</option>
					<option value="deactivate">Deaktiver</option>
				</select>
			</div>
			<button class="btn btn-apply" ng-click="applyUserBulkAction()">Anvend</button>
				
			<div style="width: 308px; float: right; margin-right: 30px; margin-top: 10px;">
				<a ui-sref="app.organization.users.import" class="btn btn-half btn-transparent">Importer .CSV</a>
				<a ui-sref="app.organization.users.new" class="btn btn-half btn-blue">Opret Bruger</a>
			</div>
		</div>
		
		<div class="table-users" >
			<table class="table table-hover members-table middle-align">
				<colgroup>
					<col width="5%"></col>
					<col width="5%"></col>
					<col width="30%"></col>
	                <col width="45%"></col>
	                <col width="10%"></col>
	                <col width="5%"></col>
                </colgroup>
                <thead>
                    <tr>
                        <th><input type="checkbox" id="rootCheck" class="cbr" name="members-list[]"  ng-model="allUserSelect"  ng-change="changeAllUserSelect()" /></th>
                        <th colspan="2">Brugernavn og rolle</th>
                        <th class="hidden-xs hidden-sm">E-Mail</th>
						<th colspan="2">Status</th>
					</tr>
				</thead>
				<tbody>
				<tr ng-repeat="user in resources.data">
					<td class="user-cb">
						<input type="checkbox"  class="cbr" name="members-list[]" checklist-model="selected.users" checklist-value="user" ng-checked="allUserSelect"  value="1" />
					</td>
					<td class="user-image hidden-xs hidden-sm">
						<a ng-href="#/app/organization/users/user-{{user.id}}">
							<img ng-src="{{user.image.path ? user.image.path : '/assets/images/user-1.png'}}" class="img-circle" alt="user-pic" />
						</a>
					</td>
					<td class="user-name">
						<a ng-href="#/app/organization/users/user-{{user.id}}" class="name">{{user.first_name}} {{user.last_name}}</a>
						<span>Bruger</span>
					</td>
					<td class="hidden-xs hidden-sm"><span class="email">{{user.email}}</span></td>
<!--					<td class="user-id">{{user.unit_name.name}}</td>-->
					<td class="user-staus">{{user.active == "active" ? "Active" : (user.active == "pending" ? "Pending" : "Inactive")}}</td>
					<td class="action-links">
						<a ng-href="#/app/organization/users/user-{{user.id}}" class="edit">
							<i class="fa-pencil"></i>
						</a>
					</td>
				</tr>
				</tbody>
				</table>
			</div>
			
		<div class="org-controlers">
				
				<div class="bulk-action">
                    <select name="user_action" ng-model="selected.action">
						<option value="delete">Slet</option>
						<option value="activate">Aktiver</option>
						<option value="deactivate">Deaktiver</option>
					</select>
				</div>
				<button class="btn btn-apply" ng-click="applyUserBulkAction()">Anvend</button>
					
				<div style="width: 308px; float: right; margin-right: 30px; margin-top: 10px;">
					<a ui-sref="app.organization.users.import" class="btn btn-half btn-transparent">Importer .CSV</a>
					<a ui-sref="app.organization.users.new" class="btn btn-half btn-blue">Opret Bruger</a>
				</div>
			</div>
			
		</div>
		
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default no-padding">
			<div class="panel-body">
				<ul class="xe-tab-list">
						<li>
							<span class="element-title">Afdelinger i alt</span>
							<span class="element-time">
								 <span class="element-value">5</span>
							</span>
						</li>
						<li>
							<span class="element-title">Teams i alt</span>
							<span class="element-time">
								 <span class="element-value">7</span>
							</span>
						</li>
						<li>
							<span class="element-title">Kurser pr. afdeling</span>
							<span class="element-time">
								 <span class="element-value">10.8</span>
							</span>
						</li>
						<li>
							<span class="element-title">Gennemførelses % i læring</span>
							<span class="element-time">
								 <span class="element-value">67.5%</span>
							</span>
						</li>
						<li>
							<span class="element-title">Din samlede score</span>
							<span class="element-time">
								 <span class="element-value">7</span>
							</span>
						</li>

						
					</ul>
			</div>
		</div>
	</div>
</div>

