<script type="text/ng-template" id="assign-users">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h3 class="modal-title">Tilføje Brugere</h3>
	</div>
	
	<div class="modal-body">
	
		<div class="table-teams" ng-controller="TeamsCtrl">
			<table class="table table-hover members-table middle-align">
				<colgroup>
					<col width="5%"></col>
					<col width="75%"></col>
					<col width="10%"></col>
					<col width="10%"></col>
				</colgroup>
				<thead>
					<tr>
						<th><input type="checkbox" class="cbr" name="members-list[]" id="rootCheck" class="cbr" name="members-list[]"  ng-model="allUserSelect" ng-change="changeAllUserSelect()" /></th>
						<th>Bruger navn</th>
						<th class="hidden-xs hidden-sm">E-mail</th>
						<th>Afdeling</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="team in resources.data">
						<td class="user-cb">
							<input type="checkbox" class="cbr" name="members-list[]" ng-checked="allUserSelect" value="1" />
						</td>
						<td class="user-name">
							{{team.name}}
						</td>
						<td class="hidden-xs hidden-sm">
							{{team.user_count}}
						</td>
						<td class="hidden-xs hidden-sm">
							{{team.user_count}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
	
	<div class="modal-footer">
		<div class="modal-btn-right">
			<button type="button" class="btn btn-half btn-transparent" ng-click="currentModal.close();">Luk</button>
			<button type="button" class="btn btn-half btn-blue" ng-click="currentModal.dismiss();">Opdatering</button>
		</div>
	</div>
</script>
<div class="col-sm-8">
	<tabset>
		<tab heading="Brugere">
			<div class="panel-tab-heading">
				<h3 class="panel-title">Brugere i virksomheden</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			
			<div class="org-controlers">
				<div class="left-side">
					<button class="btn btn-delete">Fjerne Brugere</button>
				</div>
				<div class="right-side">
					<a href="" class="btn btn-half btn-blue">Tilføje Brugere</a>
				</div>
			</div>	
	
			<div class="table-users">
				<table class="table table-hover members-table middle-align">
				<colgroup>
					<col width="5%"></col>
					<col width="5%"></col>
					<col width="25%"></col>
					<col width="30%"></col>
					<col width="20%"></col>
					<col width="10%"></col>
					<col width="5%"></col>
				</colgroup>
							<thead>
								<tr>
									<th><input type="checkbox" class="cbr" name="members-list[]" value="1" /></th>
									<th colspan="2">Brugernavn og rolle</th>
									<th class="hidden-xs hidden-sm">E-Mail</th>
									<th>Afdeling</th>
									<th colspan="2">Status</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="user in resources.data">
									<td class="user-cb">
										<input type="checkbox" class="cbr" name="members-list[]" value="1" />
									</td>
									<td class="user-image hidden-xs hidden-sm">
										<a ng-href="#/app/organization/users/user-{{user.id}}">
											<img ng-src="{{user.image !== null ? user.image : '/assets/images/user-1.png'}}" class="img-circle" alt="user-pic" />
										</a>
									</td>
									<td class="user-name">
										<a ng-href="#/app/organization/users/user-{{user.id}}" class="name">{{user.first_name}} {{user.last_name}}</a>
										<span>Bruger</span>
									</td>
									<td class="hidden-xs hidden-sm"><span class="email">{{user.email}}</span></td>
									<td class="user-id">{{user.unit_name.name}}</td>
									<td class="user-staus">{{user.is_active == true ? "Active" : "Inactive"}}</td>
									<td class="action-links">
										<a ng-href="#/app/organization/users/user-{{user.id}}" class="edit">
											<i class="fa-pencil"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
			</div>
			
			<div class="org-controlers">
				<div class="left-side">
					<button class="btn btn-delete">Fjerne Brugere</button>
				</div>
				<div class="right-side">
					<a href="" class="btn btn-half btn-blue">Tilføje Brugere</a>
				</div>
			</div>			
		</tab>
		<tab heading="Indstillinger">
			<form role="form" id="team-settings" method="post" class="validate">
				<div class="panel-body">
					<div class="col-md-12 form-section">
						<input class="col-md-8 form-control" style="margin-bottom: 10px;" type="text" name="name" value="Team 2" />
						<textarea rows="5" class="col-md-12 form-control" style="margin-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</textarea>
					</div>
						<div class="org-controlers">
							<div class="left-side">
							<button class="btn btn-delete">Slet Coach</button>
							</div>
						<div class="right-side">
							<button class="btn btn-half btn-blue">Afbestille</button>
							<button class="btn btn-half btn-blue">Opdatering Coach</button>
						</div>
					</div>
				</div>
			</form>
		</tab>
	</tabset>
</div>
	
<div class="col-sm-3 col-md-offset-1 col-tab-offset">
	<button class="btn btn-full btn-blue">Slet Coach</button>
	<button class="btn btn-full btn-transparent">Tilbage til Coaches</button>
</div>

