<div class="row">
	<div class="col-md-10 col-md-offset-1">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Opret ny Coach</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			
			<form role="form" id="form-tean" method="post" class="validate">
				<div class="panel-body" style="">
				
					<div class="form-title">Tilføj coach</div>
					
					<div class="form-section col-md-12">
						<div class="form-group col-md-12">
							
							<div class="form-group">
								<label class="col-md-2 control-label">Coaches</label>
								
									
								<script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#s2example-2").select2({
											placeholder: 'Choose your favorite US Countries',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});
										
									});
								</script>
								
								<select class="col-md-10 form-control" id="s2example-2" multiple>
									<option>Amy Funk</option>
									<option>Catharine Dach</option>
									<option>Brittany Stoltenberg</option>
									<option>Shanon Hegmann</option>
									<option selected>Jamison Erdman</option>
									<option>Alisha Kunde</option>
									<option>Rick Marker</option>
									<option>Frederik Sally</option>
									<option>Kenneth Jensen</option>
									<option selected>Razvan Morut</option>
									<option>Klaus Skytte</option>
								</select>
									
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-md-offset-4">
						<button class="btn btn-full btn-transparent">Tilbage</button>
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-full btn-blue">Opret Coaches</button>
					</div>
					
				</div>
			</form>
			
		</div>
		
	</div>
</div>