<script type="text/ng-template" id="addQuestion">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h3 class="modal-title">Spørgsmål - Vælg den type</h3>
	</div>
	
	<div class="modal-body">
	
		<div class="row" style="margin: 10px 40px;">
			<div class="col-sm-6">
				<a ui-sref="app.organization.units">
				<div class="xe-widget xe-vertical-counter">
					<div class="xe-icon">
						<i class="fa-sitemap"></i>
					</div>
					
					<div class="xe-label">
						<strong class="num">Multiple Choice</strong>
						<span>You can choose multiple answers</span>
					</div>
				</div>
				</a>
				
			</div>
			<div class="col-sm-6">
				
				<a ui-sref="app.organization.teams">
				<div class="xe-widget xe-vertical-counter">
					<div class="xe-icon">
						<i class="fa-users"></i>
					</div>
					
					<div class="xe-label">
						<strong class="num">Single Choice</strong>
						<span>You can select only one answer</span>
					</div>
				</div>
				</a>
				
			</div>
		</div>
		<div class="row" style="margin: 10px 40px;">
			<div class="col-sm-6">
			
				<a ui-sref="app.organization.users">
				<div class="xe-widget xe-vertical-counter">
					<div class="xe-icon">
						<i class="fa-user"></i>
					</div>
					
					<div class="xe-label">
						<strong class="num">Free text</strong>
						<span>Question answered with text</span>
					</div>
				</div>
				</a>
				
			</div>
			<div class="col-sm-6">
				
				<a ui-sref="app.organization.coaches">
				<div class="xe-widget xe-vertical-counter">
					<div class="xe-icon">
						<i class="fa-book"></i>
					</div>
					
					<div class="xe-label">
						<strong class="num">Rating</strong>
						<span>Its used for surveys</span>
					</div>
				</div>
				</a>
				
			</div>
		</div>		
	</div>
</script>

<div class="col-md-10 col-md-offset-1">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Opret ny Survey Modul</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		
		<form role="form" id="form-tean" method="post" class="validate">
			<div class="panel-body" style="">
			
				<div class="form-title">MODUL DETALJER</div>
				
				<div class="form-section col-md-12">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-label">Modul navn</label>
						<input class="col-md-10 form-control" type="text" data-message-required="Navn is required." data-validate="required" name="fornavn">
					</div>
					
					<div class="form-group col-md-12">
						<label class="col-md-2 control-label">Beskrivelse</label>
						<textarea rows="5" class="col-md-10 form-control"></textarea>
					</div>
					
					<div class="form-group col-md-12">
						<label class="col-md-2 control-label">Skippable</label>
						<div class="col-md-10 side-checkbox">
							<input type="checkbox" class="cbr cbr-default" /> You can let the user to skip this module.
						</div>
					</div>
				</div>
				
				<div class="form-title">Oprette Spørgsmål</div>
				
				<div class="form-section col-md-12">
					<div class="form-group col-md-12">
						<accordion close-others="true">
							<accordion-group is-open="status1.open" ng-class="{'expanded': status1.open}">
								<accordion-heading>Spørgsmål #1 - Multiplechoice</accordion-heading>
								<div class="form-title">Spørgsmål</div>
								
								<div class="form-section col-md-12">
									<div class="form-group col-md-12">
										<textarea rows="5" class="col-md-12 form-control"></textarea>
									</div>
								</div>
								
								<div class="form-title">Svar</div>
								
								<div class="form-section col-md-12">
									<div class="form-group col-md-12">
										<div class="col-md-1 checkbox-center">
											<input type="checkbox" class="cbr cbr-default" />
										</div>
										<input class="col-md-11 form-control" type="text" name="fornavn">
									</div>
									<div class="form-group col-md-12">
										<div class="col-md-1 checkbox-center">
											<input type="checkbox" class="cbr cbr-default" />
										</div>
										<input class="col-md-11 form-control" type="text" name="fornavn">
									</div>
									<div class="form-group col-md-12">
										<div class="col-md-1 checkbox-center">
											<input type="checkbox" class="cbr cbr-default" />
										</div>
										<input class="col-md-11 form-control" type="text" name="fornavn">
									</div>
									<div class="form-group col-md-12">
										<div class="col-md-1 checkbox-center">
											<input type="checkbox" class="cbr cbr-default" />
										</div>
										<input class="col-md-11 form-control" type="text" name="fornavn">
									</div>
									<div class="form-group col-md-12">
										<button class="add-new-answer">Tilføje Nye Svar</button>
									</div>
								</div>
							</accordion-group>
							<accordion-group is-open="status2.open" ng-class="{'expanded': status2.open}">
								<accordion-heading>Spørgsmål #2 - Single Choice</accordion-heading>
								<div class="form-title">Spørgsmål</div>
								
								<div class="form-section col-md-12">
									<div class="form-group col-md-12">
										<textarea rows="5" class="col-md-12 form-control"></textarea>
									</div>
								</div>
								
								<div class="form-title">Svar</div>
								
								<div class="form-section col-md-12">
									<div class="form-group col-md-12">
										<div class="col-md-1 checkbox-center">
											<input type="radio" name="radio-x" class="cbr">
										</div>
										<input class="col-md-11 form-control" type="text" name="fornavn">
									</div>
									<div class="form-group col-md-12">
										<div class="col-md-1 checkbox-center">
											<input type="radio" name="radio-x" class="cbr">
										</div>
										<input class="col-md-11 form-control" type="text" name="fornavn">
									</div>
									<div class="form-group col-md-12">
										<div class="col-md-1 checkbox-center">
											<input type="radio" name="radio-x" class="cbr">
										</div>
										<input class="col-md-11 form-control" type="text" name="fornavn">
									</div>
									<div class="form-group col-md-12">
										<div class="col-md-1 checkbox-center">
											<input type="radio" name="radio-x" class="cbr">
										</div>
										<input class="col-md-11 form-control" type="text" name="fornavn">
									</div>
									<div class="form-group col-md-12">
										<button class="add-new-answer">Tilføje Nye Svar</button>
									</div>
								</div>
							</accordion-group>
							<accordion-group is-open="status3.open" ng-class="{'expanded': status3.open}">
								<accordion-heading>Spørgsmål #3 - Free text</accordion-heading>
								<div class="form-title">Spørgsmål</div>
								
								<div class="form-section col-md-12">
									<div class="form-group col-md-12">
										<textarea rows="5" class="col-md-12 form-control"></textarea>
									</div>
								</div>
							</accordion-group>
							<accordion-group is-open="status4.open" ng-class="{'expanded': status4.open}">
								<accordion-heading>Spørgsmål #4 - Rating</accordion-heading>
								<div class="form-title">Spørgsmål</div>
								
								<div class="form-section col-md-12">
									<div class="form-group col-md-12">
										<textarea rows="5" class="col-md-12 form-control"></textarea>
									</div>
								</div>
								
								<div class="form-title">Svar</div>
								
								<div class="form-section col-md-12">
									<div class="form-group col-md-12">
										<input class="col-md-12 form-control" type="text" value="Never" name="fornavn">
									</div>
									<div class="form-group col-md-12">
										<input class="col-md-12 form-control" type="text" value="Not Likely" name="fornavn">
									</div>
									<div class="form-group col-md-12">
										<input class="col-md-12 form-control" type="text" value="Maybe" name="fornavn">
									</div>
									<div class="form-group col-md-12">
										<input class="col-md-12 form-control" type="text" value="Likely" name="fornavn">
									</div>
									<div class="form-group col-md-12">
										<input class="col-md-12 form-control" type="text" value="Definetly" name="fornavn">
									</div>
									<div class="form-group col-md-12">
										<button class="add-new-answer">Tilføje Nye Svar</button>
									</div>
								</div>
							</accordion-group>
						</accordion>
						<button href="" class="add-new-poll" ng-click="openModal('addQuestion', 'lg');">Tilføje Nye Spørgsmål</button>
					</div>
				</div>
				
				<div class="col-md-4 col-md-offset-4">
					<button class="btn btn-full btn-transparent">Tilbage</button>
				</div>
				<div class="col-md-4">
					<button type="submit" class="btn btn-full btn-blue">Opret Modul</button>
				</div>
				
			</div>
		</form>
		
	</div>
	
</div>