<script type="text/ng-template" id="assign-users">
    <div ng-controller="TeamUpdateCtrl">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h3 class="modal-title">Tilføj Brugere</h3>
	</div>
	
	<div class="modal-body">
	
		<div class="table-teams" >
			<table class="table table-hover members-table middle-align">
				<colgroup>
					<col width="5%"></col>
					<col width="35%"></col>
					<col width="35%"></col>
					<col width="25%"></col>
				</colgroup>
				<thead>
					<tr>
						<th><input type="checkbox" class="cbr" name="members-list[]" id="rootCheck" class="cbr" name="members-list[]"  ng-model="usermodal.allUserSelect" ng-change="changeAllAddUserSelect()" /></th>
						<th>Bruger navn</th>
						<th class="hidden-xs hidden-sm">E-mail</th>
						<th>Afdeling</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in usermodal.allUsers">
						<td class="user-cb">
							<input type="checkbox" class="cbr" name="members-list[]" checklist-model="usermodal.selected.users" checklist-value="user" ng-checked="usermodal.allUserSelect" value="1" />
						</td>
						<td class="user-name">
                            {{user.first_name}} {{user.last_name}}
						</td>
						<td class="hidden-xs hidden-sm">
                            {{user.email}}
						</td>
						<td class="hidden-xs hidden-sm">
                            {{user.active == "active" ? "Active" : (user.active == "pending" ? "Pending" : "Inactive")}}
						</td>
					</tr>

				</tbody>
			</table>
		</div>
		
	</div>
	
	<div class="modal-footer">
		<div class="modal-btn-right">
			<button type="button" class="btn btn-half btn-transparent" ng-click="currentModal.close();">Luk</button>
			<button type="button" class="btn btn-half btn-blue" ng-click="applyUserBulkAction('add')">Opdatering</button>
		</div>
	</div>
    </div>
</script>
<div class="row" ui-view>
	<div class="col-md-8">
		<tabset>
			<tab heading="Indhold">
				<div class="panel panel-default no-padding-side">
			
				<div class="panel-body">
				
					<div class="org-controlers">
						<div class="left-side">
							<h3>Gør din strategi fleksibel</h3>
						</div>
						<div class="right-side">
							<a ui-sref="app.learning.courseslist.edit.newmodule" class="btn btn-full btn-blue">Tilføj modul</a>
						</div>
					</div>
			
					<div class="uk-list-header">
						<div class="uk-main-col">Moduler</div>
						<div class="uk-right uk-one-col">
							<div class="uk-small-col">Aktiv</div>
						</div>
					</div>
				
					<script type="text/javascript">
						jQuery.UIkit.nestable(jQuery('#modules-nestable'));
					</script>
				
					<div class="pc-table">
						<ul id="modules-nestable" class="uk-nestable grouped-nestables" data-uk-nestable="{maxDepth:0}">
							<li>
								<div class="uk-nestable-item">
								    <div class="uk-nestable-handle module-standard"></div>
								    <div class="list-label">Standard</div>
								    <div data-nestable-action="toggle"></div>
								    <div class="uk-right uk-one-col">
								    	<div class="uk-col">Aktiv</div>
								    	<a class="uk-col uk-col-icon" href="">
								    		<i class="fa-pencil"></i>
								    	</a>
								    </div>
								</div>
							</li>
							<li>
								<div class="uk-nestable-item">
								    <div class="uk-nestable-handle module-poll"></div>
								    <div class="list-label">Questions and Poll</div>
								    <div data-nestable-action="toggle"></div>
								    <div class="uk-right uk-one-col">
								    	<div class="uk-col">Aktiv</div>
								    	<a class="uk-col uk-col-icon" href="">
								    		<i class="fa-pencil"></i>
								    	</a>
								    </div>
								</div>
							</li>
							<li>
								<div class="uk-nestable-item">
								    <div class="uk-nestable-handle module-pp"></div>
								    <div class="list-label">PowerPoint</div>
								    <div data-nestable-action="toggle"></div>
								    <div class="uk-right uk-one-col">
								    	<div class="uk-col">Ikke Aktiv</div>
								    	<a class="uk-col uk-col-icon" href="">
								    		<i class="fa-pencil"></i>
								    	</a>
								    </div>
								</div>
							</li>
							<li>
								<div class="uk-nestable-item">
								    <div class="uk-nestable-handle module-video"></div>
								    <div class="list-label">Video</div>
								    <div data-nestable-action="toggle"></div>
								    <div class="uk-right uk-one-col">
								    	<div class="uk-col">Aktiv</div>
								    	<a class="uk-col uk-col-icon" href="">
								    		<i class="fa-pencil"></i>
								    	</a>
								    </div>
								</div>
							</li>
							<li>
								<div class="uk-nestable-item">
								    <div class="uk-nestable-handle module-scorm"></div>
								    <div class="list-label">SCORM</div>
								    <div data-nestable-action="toggle"></div>
								    <div class="uk-right uk-one-col">
								    	<div class="uk-col">Aktiv</div>
								    	<a class="uk-col uk-col-icon" href="">
								    		<i class="fa-pencil"></i>
								    	</a>
								    </div>
								</div>
							</li>
							<li>
								<div class="uk-nestable-item">
								    <div class="uk-nestable-handle module-attached"></div>
								    <div class="list-label">Attached</div>
								    <div data-nestable-action="toggle"></div>
								    <div class="uk-right uk-one-col">
								    	<div class="uk-col">Aktiv</div>
								    	<a class="uk-col uk-col-icon" href="">
								    		<i class="fa-pencil"></i>
								    	</a>
								    </div>
								</div>
							</li>
						</ul>
					</div>
					
					<div class="org-controlers">
						<div class="right-side">
							<a ui-sref="app.learning.courseslist.edit.newmodule" class="btn btn-full btn-blue">Tilføj modul</a>
						</div>
					</div>
				
				</div>
			</div>
			</tab>
			<tab heading="Tildel kursus">
				<div class="panel">
					<div class="org-controlers">
						<div class="left-side">
							<h3>Brugere</h3>
							<div class="org-controlers-search">
								<i class="fa fa-search"></i>
								<input placeholder="Søg på bruger navn" class="" />
							</div>
						</div>
						<div class="right-side">
							<a href="" class="btn btn-half btn-blue" ng-click="openModal('assign-users', 'lg');">Tilføj Brugere</a>
						</div>
					</div>
					<div class="table-users">
					<table class="table table-hover members-table middle-align">
						<colgroup>
							<col width="5%"></col>
							<col width="5%"></col>
							<col width="35%"></col>
							<col width="35%"></col>
							<col width="20%"></col>
						</colgroup>
						<thead>
							<tr>
								<th><input type="checkbox" id="rootCheck" class="cbr" name="members-list[]" value="1" ng-model="allUserSelect" ng-change="changeAllUserSelect()"  /></th>
								<th colspan="2">Brugernavn og rolle</th>
								<th class="hidden-xs hidden-sm">E-Mail</th>
								<th>Afdeling</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in coursesinfo.users">
								<td class="user-cb">
									<input type="checkbox" class="cbr" name="members-list[]" value="1"  checklist-model="selected.users" checklist-value="user" ng-checked="allUserSelect" />
								</td>
								<td class="user-image hidden-xs hidden-sm">
									<a ng-href="#/app/organization/users/user-{{user.id}}">
										<img ng-src="{{user.image.path !== null ? user.image.path : '/assets/images/user-1.png'}}" class="img-circle"   alt="user-pic" />

									</a>
								</td>
								<td class="user-name">
									<a ng-href="#/app/organization/users/user-{{user.id}}" class="name">{{user.first_name}} {{user.last_name}}</a>
									<span>Bruger</span>
								</td>
								<td class="hidden-xs hidden-sm"><span class="email">{{user.email}}</span></td>
								<!--<td class="user-id">{{user.unit_name.name}}</td>-->
								<td class="user-staus">{{user.active == "active" ? "Active" : (user.active == "pending" ? "Pending" : "Inactive")}}</td>
								<td class="action-links">
									<a ng-href="#/app/organization/users/user-{{user.id}}" class="edit">
										<i class="fa-pencil"></i>
									</a>
								</td>
							</tr>

						</tbody>
					</table>
					</div>
					<div class="org-controlers">
						<div class="right-side">
							<a href="" class="btn btn-half btn-blue" ng-click="openModal('assign-users', 'lg');">Tilføj Brugere</a>
						</div>
					</div>
				</div>
			</tab>
			<tab heading="Indstillinger">
				<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Opdatering Kursus</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
						
						<form role="form" id="form-unit" method="post" class="validate">
							<div class="panel-body" style="">
							
								<div class="form-title">Kursus DETALJER</div>
								
								<div class="form-section col-md-12">
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">Kursus navn</label>
										<input class="col-md-10 form-control" type="text" ng-model="course_settings.name" data-message-required="Navn is required." data-validate="required" name="fornavn">
									</div>
									
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">Beskrivelse</label>
										<textarea ng-model="course_settings.description" rows="5" class="col-md-10 form-control"></textarea>
									</div>
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">Henvisning Kode</label>
										<input ng-model="course_settings.code" class="col-md-10 form-control" type="text" name="fornavn">
									</div>
								</div>
								
								<div class="form-title">Forfaldsdato og tilgængelighed</div>
								
								<div class="form-section col-md-12">
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">Forfaldsdato</label>
										<input ng-model="course_settings.due_date" class="form-control col-md-10 datepicker" type="text" data-format="yyyy-mm-dd" data-start-date="1d">
									</div>
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">Tilgængelighed</label>
										<script type="text/javascript">
											jQuery(document).ready(function($)
											{
												$("#valid-for").selectBoxIt().on('open', function()
												{
													// Adding Custom Scrollbar
													$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
												});
											});
										</script>
										<div class="col-md-10">
											<select ng-model="course_settings.valid_for" class="form-control" id="valid-for">
												
											</select>
										</div>
									</div>
								</div>
								<div class="form-title">Points og orden</div>
								
								<div class="form-section col-md-12">
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">Points</label>
										<input ng-model="course_settings.points" class="col-md-10 form-control" type="text" name="points">
									</div>
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">Orden</label>
										<script type="text/javascript">
											jQuery(document).ready(function($)
											{
												$("#ordering").selectBoxIt().on('open', function()
												{
													// Adding Custom Scrollbar
													$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
												});
											});
										</script>
										<div class="col-md-10">
											<select ng-model="course_settings.in_order" class="form-control" id="ordering">
												<option value="no">Nej</option>
												<option value="yes">Ja</option>
											</select>
										</div>
									</div>
								</div>
								
								<div class="form-title">Certifikater</div>
								
								<div class="form-section col-md-12">
									<div class="form-group col-md-12">
										<label class="col-md-2 control-label">Importer</label>
										<input id="field-4" class="col-md-10 form-control" type="file">
									</div>
								</div>
								
								<div class="col-md-4 col-md-offset-4">
									<button class="btn btn-full btn-transparent">Annuller</button>
								</div>
								<div class="col-md-4">
									<button type="submit" class="btn btn-full btn-blue">Opdatering</button>
								</div>
								
							</div>
						</form>
						
					</div>
			</tab>
		</tabset>
	</div>
	<div class="col-md-4" style="padding-bottom: 30px;">
	
		<div class="panel panel-default no-padding">
			<div class="panel-heading">
				<h3>Kurser set for nylig</h3>
			</div>
			<div class="panel-body">
				<ul class="xe-tab-list">
					<li>
						<span class="element-title">Gør din strategi flexibel</span>
						<span class="element-time">
							<i class="fa fa-angle-right"></i>
							<span class="element-value">i dag</span>
						</span>								
					</li>
					<li>
						<span class="element-title">Kom godt i gang</span>
						<span class="element-time">
							<i class="fa fa-angle-right"></i>
							<span class="element-value">for 2 dage siden</span>
						</span>
					</li>
					<li>
						<span class="element-title">Kend dine konkurrenter</span>
						<span class="element-time">
							<i class="fa fa-angle-right"></i>
							<span class="element-value">for 4 dage siden</span>
						</span>
					</li>
					<li>
						<span class="element-title">Vores nuværende produkter</span>
						<span class="element-time">
							<i class="fa fa-angle-right"></i>
							<span class="element-value">for 7 dage siden</span>
						</span>
					</li>
					
				</ul>
			</div>
		</div>

	</div>
</div>