<div class="col-md-10 col-md-offset-1">

	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Opret ny Kursus</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			
			<form role="form" id="form-unit" method="post" class="validate">
				<div class="panel-body" style="">
				
					<div class="form-title">Kursus DETALJER</div>
					
					<div class="form-section">
						<div class="form-group col-md-8">
							<div class="profile-line col-md-12">
								<label class="col-md-3 control-label">Kursus navn</label>
								<input ng-model="course.name" class="col-md-9 form-control" type="text" data-message-required="Navn is required." data-validate="required" name="fornavn">
							</div>
							<div class="profile-line col-md-12">
								<label class="col-md-3 control-label">Beskrivelse</label>
								<textarea ng-model="course.description" rows="6" class="col-md-9 form-control"></textarea>
							</div>
							<div class="profile-line col-md-12">
								<label class="col-md-3 control-label">Henvisning Kode</label>
								<input ng-model="course.code" class="col-md-9 form-control" type="text" name="fornavn">
							</div>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<div class="ng-scope upload-img upload-big-image" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-init="{singleFile:true, target: '/api/file/', testChunks:false}"
                                    flow-files-submitted="$flow.upload()"
                                    flow-file-success="courseImageUploaded($file, $message)">
							
								<div class="thumbnail no-image" ng-hide="$flow.files.length">
								
								</div>
								
								<div class="thumbnail" ng-show="$flow.files.length">
								  <img flow-img="$flow.files[0]" />
								</div>

								<div>
								  <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn>Importer Billede</span>
								  <!--<span class="btn btn-info" ng-show="$flow.files.length" flow-btn>Change</span>-->
								  <span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">
								  	<i class="fa fa-times"></i>
								  </span>	  
								</div>
								
							</div>
						</div>
					</div>
					
					<div class="form-title">Forfaldsdato og tilgængelighed</div>
					
					<div class="form-section">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label">Forfaldsdato</label>
							<input ng-model="course.due_date" class="form-control col-md-10 datepicker" type="text" data-format="yyyy-mm-dd" data-start-date="1d">
						</div>
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label">Tilgængelighed</label>
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#valid-for").selectBoxIt().on('open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
									});
								});
							</script>
							<div class="col-md-10">
								<select ng-model="course.valid_for" class="form-control" id="valid-for">
									
								</select>
							</div>
						</div>
					</div>
					<div class="form-title">Points og orden</div>
					
					<div class="form-section">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label">Points</label>
							<input ng-model="course.points" class="col-md-10 form-control" type="text" name="points">
						</div>
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label">Orden</label>
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#ordering").selectBoxIt().on('open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
									});
								});
							</script>
							<div class="col-md-10">
								<select ng-model="course.in_order" class="form-control" id="ordering">
									<option value="no">Nej</option>
									<option value="yes">Ja</option>
								</select>
							</div>
						</div>
					</div>
					
					<div class="form-title">Certifikater</div>
					
					<div class="form-section col-md-12">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label">Importer</label>
							<input id="field-4" class="col-md-10 form-control" type="file" file-model="certificateFile">
						</div>
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label">Beskrivelse</label>
							<textarea ng-model="course.certificate_text" ows="5" class="col-md-10 form-control"></textarea>
						</div>
					</div>
					
					<div class="col-md-4">
						<button class="btn btn-full btn-transparent">Tilbage</button>
					</div>
					<div class="col-md-4">
						<button type="submit" ng-click="submit()" class="btn btn-full btn-blue">Opret Team</button>
					</div>
					<div class="col-md-4">
						<button type="submit" ng-click="submit(true)" class="btn btn-full btn-blue">Opret Team Og Opret Flere</button>
					</div>
					
				</div>
			</form>
			
		</div>
		
</div>