<div class="row" ui-view>
	
	<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default no-padding">
		<div class="panel-heading">
			<h3 class="panel-title">Tilføj modul</h3>
			<p>Oversigt over virksomhedens afdelinger, teams og brugere</p>
		</div>
		<div class="panel-body">
			<div class="row" style="margin: 10px 40px 0;">
				<div class="col-sm-4">
					<a ui-sref="app.learning.courseslist.edit.newmodule.newstd">
					<div class="xe-widget xe-vertical-counter">
						<div class="xe-icon">
							<i class="fa fa-pencil-square-o"></i>
						</div>
						
						<div class="xe-label">
							<strong class="num">Inhold</strong>
							<span>Tilføj tekst / billede</span>
						</div>
					</div>
					</a>
					
				</div>
				<div class="col-sm-4">
					
					<a ui-sref="app.learning.courseslist.edit.newmodule.newpp">
					<div class="xe-widget xe-vertical-counter">
						<div class="xe-icon">
							<i class="fa fa-file-powerpoint-o"></i>
						</div>
						
						<div class="xe-label">
							<strong class="num">Powerpoint</strong>
							<span>Upload præsentastioner</span>
						</div>
					</div>
					</a>
					
				</div>
				<div class="col-sm-4">
					
					<a ui-sref="app.learning.courseslist.edit.newmodule.newpoll">
					<div class="xe-widget xe-vertical-counter">
						<div class="xe-icon">
							<i class="fa fa-question"></i>
						</div>
						
						<div class="xe-label">
							<strong class="num">Survey</strong>
							<span>Tilføj spørgeskema / test</span>
						</div>
					</div>
					</a>
					
				</div>
			</div>
			<div class="row" style="margin: 0 40px 10px;">
				<div class="col-md-4 col-md-offset-2">
				
					<a ui-sref="app.learning.courseslist.edit.newmodule.newvideo">
					<div class="xe-widget xe-vertical-counter">
						<div class="xe-icon">
							<i class="fa fa-video-camera"></i>
						</div>
						
						<div class="xe-label">
							<strong class="num">Video</strong>
							<span>Upload / vælg tilhørende film</span>
						</div>
					</div>
					</a>
					
				</div>
				<div class="col-sm-4">
					
					<a ui-sref="app.learning.courseslist.edit.newmodule.newscorm">
					<div class="xe-widget xe-vertical-counter">
						<div class="xe-icon">
							<i class="fa fa-file-archive-o"></i>
						</div>
						
						<div class="xe-label">
							<strong class="num">SCORM</strong>
							<span>Tilføj SCORM data / info (.zip)</span>
						</div>
					</div>
					</a>
					
				</div>
			</div>
		</div>
	</div>
	</div>
</div>