<div class="row" ng-controller="UserImportCtrl">
	<div class="col-md-10 col-md-offset-1">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Import brugere fra .CSV</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			
			<form role="form" id="form-tean" name="userImportForm" method="post" class="validate">
				<div class="panel-body" style="">
				
					<div class="form-title">Download .CSV filstruktur</div>
					
					<div class="form-section col-md-12" style="margin-bottom: 40px;">
						<div class="col-md-8">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
						<div class="col-md-2 col-md-offset-1">
							<a href=""><img src="http://icons.iconarchive.com/icons/gakuseisean/ivista-2/256/Files-Download-File-icon.png" alt="" style="width: 100%;" /></a>
						</div>
					</div>
					
					<div class="form-title">Importer din .CSV</div>
					
					<div class="form-section col-md-12">
						<!--<div class="form-group col-md-12">
							<label class="col-md-2 control-label">Importer</label>
							&lt;!&ndash; file import  &ndash;&gt;
							<input id="field-4" class="col-md-10 form-control" type="file">
							&lt;!&ndash; file import ends&ndash;&gt;
						</div>-->
						<div class="form-section col-md-12">
							<div class="ng-scope upload-img" flow-file-added="!!{csv:1}[$file.getExtension()]" flow-init="{singleFile:true, target: '/api/file', testChunks:false}"
								 flow-files-submitted="$flow.upload()"
								 flow-file-success="uploader.controllerFn($flow, $file, $message)"
								 flow-object="existingFlowObject">


								<div class="thumbnail no-image" ng-hide="$flow.files.length">

								</div>

								<div class="thumbnail" ng-show="$flow.files.length">
									<img flow-img="$flow.files[0]" />
								</div>
								<div>
									<span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn>Select File</span>
									<span class="btn btn-info" ng-show="$flow.files.length" flow-btn>Change</span>
								  	<span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">
								  		<i class="fa fa-times"></i>
								  	</span>
								</div>

							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-md-offset-4">
						<button class="btn btn-full btn-transparent">Tilbage</button>
					</div>
					<div class="col-md-4">
						<button  class="btn btn-full btn-blue" ng-click="userImport(userImportForm)">Importer Brugere</button>
					</div>
					
				</div>
			</form>
			
		</div>
		
	</div>
</div>