<div class="col-md-10 col-md-offset-1">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Opret ny bruger</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			
			<form role="form" id="form1" method="post" name="userSignupForm" class="validate" ng-controller="UserSignUpCtrl" >
				<div class="panel-body" style="">
					<div class="form-title">BRUGER DETALJER</div>
					<div class="form-section">
						<div class="col-md-2 col-md-offset-1">
							<div class="ng-scope upload-img" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-init="{singleFile:true, target: '/api/file', testChunks:false}"
                                    flow-files-submitted="$flow.upload()"
									flow-file-success="uploader.controllerFn($flow, $file, $message)"
									flow-object="existingFlowObject">
							
								<div class="thumbnail no-image" ng-hide="$flow.files.length">
								
								</div>
								
								<div class="thumbnail" ng-show="$flow.files.length">
								  <img flow-img="$flow.files[0]" />
								</div>

								<div>
								  <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn>Importer Billede</span>
								  <!--<span class="btn btn-info" ng-show="$flow.files.length" flow-btn>Change</span>-->
								  <span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">
								  	<i class="fa fa-times"></i>
								  </span>	  
								</div>
								
							</div>
						</div>
						<div class="form-group col-md-9">
							<div class="col-md-12 profile-line">
								<label class="col-md-3 control-label">Fornavn</label>
								<input class="col-md-9 form-control" type="text" data-message-required="Navn is required." data-validate="required" name="fornavn" ng-model="userinfo.firstname">
							</div>
							<div class="col-md-12 profile-line">
								<label class="col-md-3 control-label">Efternavn</label>
								<input class="col-md-9 form-control" type="text" data-message-required="Navn is required." data-validate="required" name="efternavn" ng-model="userinfo.lastname">
							</div>
							
							<div class="col-md-12 profile-line">
							<label class="col-md-3 control-label">E-mail</label>
							<input class="col-md-9 form-control" type="text" data-message-required="E-mail is required." data-validate="required" data-validate="email" name="email" ng-model="userinfo.email">
							</div>
						</div>
					</div>
							
					<div class="form-title">Personlig Detaljer<span>Valgfri</span></div>
					<div class="form-section">
						<div class="form-group col-md-6">
							<label class="col-md-3 control-label">Fødselsdag</label>
							<input class="col-md-9 form-control datepicker" type="text" name="birthday" ng-model="userinfo.birthday" data-start-view="2" data-format="yyyy-mm-dd">
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3 control-label">Køn</label>
							
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#sboxit-gender").selectBoxIt().on('open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
									});
								});
							</script>
							
							<div class="form-selector">
							<select class="form-control" id="sboxit-gender" name="sex" ng-model="userinfo.gender">
								<option value="M">Male</option>
								<option value="F">Female</option>
							</select>
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3 control-label">Firma</label>
							<input class="col-md-9 form-control" type="text"name="company" ng-model="userinfo.company">
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3 control-label">Title</label>
							<input class="col-md-9 form-control" type="text"name="position" ng-model="userinfo.title">
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3 control-label">Telefon</label>
							<input class="col-md-9 form-control" type="text"name="phone" ng-model="userinfo.phone">
						</div>
						
						<div class="form-group col-md-6">
							<label class="col-md-3 control-label">Tidszone</label>
							
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#sboxit-2").selectBoxIt().on('open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
									});
								});
							</script>
							
							<div class="form-selector">
							<select class="form-control" id="sboxit-2" name="timezone" ng-model="userinfo.timezone">
			<option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">(GMT-12:00) International Date Line West</option>
			<option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">(GMT-11:00) Midway Island, Samoa</option>
			<option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">(GMT-10:00) Hawaii</option>
			<option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">(GMT-09:00) Alaska</option>
			<option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Pacific Time (US & Canada)</option>
			<option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Tijuana, Baja California</option>
			<option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">(GMT-07:00) Arizona</option>
			<option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
			<option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Mountain Time (US & Canada)</option>
			<option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Central America</option>
			<option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Central Time (US & Canada)</option>
			<option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
			<option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Saskatchewan</option>
			<option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
			<option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Eastern Time (US & Canada)</option>
			<option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Indiana (East)</option>
			<option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Atlantic Time (Canada)</option>
			<option timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Caracas, La Paz</option>
			<option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Manaus</option>
			<option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Santiago</option>
			<option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">(GMT-03:30) Newfoundland</option>
			<option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Brasilia</option>
			<option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">(GMT-03:00) Buenos Aires, Georgetown</option>
			<option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Greenland</option>
			<option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Montevideo</option>
			<option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">(GMT-02:00) Mid-Atlantic</option>
			<option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">(GMT-01:00) Cape Verde Is.</option>
			<option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">(GMT-01:00) Azores</option>
			<option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
			<option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
			<option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
			<option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
			<option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1" selected="">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
			<option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
			<option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) West Central Africa</option>
			<option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Amman</option>
			<option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Athens, Bucharest, Istanbul</option>
			<option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Beirut</option>
			<option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Cairo</option>
			<option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">(GMT+02:00) Harare, Pretoria</option>
			<option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
			<option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Jerusalem</option>
			<option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Minsk</option>
			<option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Windhoek</option>
			<option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
			<option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
			<option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Nairobi</option>
			<option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Tbilisi</option>
			<option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">(GMT+03:30) Tehran</option>
			<option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">(GMT+04:00) Abu Dhabi, Muscat</option>
			<option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Baku</option>
			<option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Yerevan</option>
			<option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">(GMT+04:30) Kabul</option>
			<option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">(GMT+05:00) Yekaterinburg</option>
			<option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
			<option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Sri Jayawardenapura</option>
			<option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
			<option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">(GMT+05:45) Kathmandu</option>
			<option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">(GMT+06:00) Almaty, Novosibirsk</option>
			<option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">(GMT+06:00) Astana, Dhaka</option>
			<option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">(GMT+06:30) Yangon (Rangoon)</option>
			<option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
			<option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">(GMT+07:00) Krasnoyarsk</option>
			<option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
			<option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Kuala Lumpur, Singapore</option>
			<option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
			<option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Perth</option>
			<option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Taipei</option>
			<option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
			<option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Seoul</option>
			<option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">(GMT+09:00) Yakutsk</option>
			<option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Adelaide</option>
			<option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Darwin</option>
			<option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Brisbane</option>
			<option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
			<option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Hobart</option>
			<option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Guam, Port Moresby</option>
			<option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Vladivostok</option>
			<option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
			<option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">(GMT+12:00) Auckland, Wellington</option>
			<option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
			<option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">(GMT+13:00) Nuku'alofa</option>	
							</select>
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="col-md-3 control-label">Sprog</label>
							
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#sboxit-1").selectBoxIt().on('open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
									});
								});
							</script>
							
							<div class="form-selector">
							<select class="form-control" id="sboxit-1" name="language" ng-model="userinfo.language">
								<option value="dk">Dansk</option>
								<option value="en">Engelsk</option>
								<option value="se">Svensk</option>
								<option value="de">Tysk</option>
							</select>
							</div>
						</div>
						
						<div class="form-group col-md-6">
							<label class="col-md-3 control-label">Rettigheder</label>
							
							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#sboxit-3").selectBoxIt().on('open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
									});
								});
							</script>
							<div class="form-selector">
							<select class="form-control" id="sboxit-3" name="permissions" ng-model="userinfo.permissions">
								<option value="dk">Bruger</option>
								<option value="en">Leder</option>
								<option value="se">Administrator</option>
							</select>
							</div>
						</div>
						
					</div>
							
					<div class="form-title">Oprettelse<span>Valgfri</span></div>
					<div class="col-md-5 col-md-offset-1" style="margin-bottom: 20px;">
						<label>
							<input type="checkbox" class="cbr cbr-default" ng-model="activateafter" />Fremesend oprettelses-email
						</label>
					</div>

					<div class="col-md-5 col-md-offset-1" style="margin-bottom: 20px;">
						<label>
							<input type="checkbox" class="cbr cbr-default" />Tildel velkomst-kursus "Sådan fungerer Eloomi"
						</label>
					</div>
							
							
					<div class="col-md-4">
						<button class="btn btn-full btn-transparent" ui-sref="app.organization.users">Tilbage</button>
					</div>
					<div class="col-md-4">
						<button class="btn btn-full btn-blue" ng-click="signup(userSignupForm)">Opret Bruger</button>
					</div>
					<div class="col-md-4">
						<button class="btn btn-full btn-blue" ng-click="signupandrefresh(userSignupForm)" >Opret Bruger Og Opret Flere</button>
					</div>
				</div>
			</form>
			
		</div>
		
	</div>